ul.hc-breadcrumbs {
	margin: 0;
	padding: 0;
	
	li {
		display: inline-block;
		color: #000;
		margin-right: 8px;
		font-size: 15px;
		
		&:after {
			content: '/';
			display: inline-block;
		}
		
		&:last-child {
			&:after {
				display: none;
			}
		}
		
		a {
			color: $color-blue;
			margin-right: 8px;
		}
	}
}