.btn {
    height: 40px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;

    i {
        font-size: 15px;
        line-height: 29px;
        display: inline-block;
        vertical-align: top;
    }

    span {
        display: inline-block;
        vertical-align: middle;
        line-height: 18px;
    }

    &.btn-icon-width {
        width: 40px;
    }

    &.btn-title-width {
        width: calc(100% - 40px);
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.btn-sm {
    height: 30px;
    line-height: 20px;
    
    
    i {
        line-height: 20px;
        font-size: 13px;
        display: inline-block;
        vertical-align: top;
    }
}



@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_buttons.scss";
@import "../../../node_modules/multi-brand-colors/dist/scss/index";

.btn-gray {
    @include button-variant(#000, $color-light-gray, $color-light-gray);
}

.btn-dark-gray {
    @include button-variant(#fff, $color-gray, $color-gray);
}

.btn-default {
    @include button-variant(#000, #fbfbfb, #e9e9e9);
}

@mixin button-divider($color) {
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: calc(100% - 8px);
        right: 0;
        top: 4px;
        background: $color;
    }
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: calc(100% - 8px);
        left: 0;
        top: 4px;
        background: $color;
    }
    

    
    &:not(btn:first-of-type) {
        border-right: 0 solid inherit;
        border-left: 0 solid inherit;
    }
    
    &:not(btn:last-of-type) {
        border-right: 0 solid inherit;
        border-left: 0 solid inherit;
    }
    
    border: none;

    &:first-of-type {
        //border-left-width: 1px;
        //border-color: inherit;
        &:before {
            display: none;
        }
    }

    &:last-of-type {
        //border-right-width: 1px;
        //border-color: inherit;
        &:after {
            display: none;
        }
    }
}

.btn-group {

    .btn-gray {
        @include button-divider($color-light-gray2)
    }

    .btn-dark-gray {
        @include button-divider(#f3f3f3)
    }

    .btn-default {
        @include button-divider($color-light-gray3)
    }
}


.btn-linkedin {
    @include button-variant(#fff, $mbc-linkedin, $mbc-linkedin);
}

.btn-google-plus {
    @include button-variant(#fff, $mbc-googleplus, $mbc-googleplus);
}