@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Semibold.ttf'),
	url('../fonts/Lato-Semibold.otf'),
	url('../fonts/Lato-Semibold.eot'),
	url('../fonts/Lato-Semibold.woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf'),
	url('../fonts/Lato-Regular.otf'),
	url('../fonts/Lato-Regular.eot'),
	url('../fonts/Lato-Regular.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf'),
	url('../fonts/Lato-Bold.otf'),
	url('../fonts/Lato-Bold.eot'),
	url('../fonts/Lato-Bold.woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeueCyr-Medium.ttf'),
	url('../fonts/HelveticaNeueCyr-Medium.otf'),
	url('../fonts/HelveticaNeueCyr-Medium.eot'),
	url('../fonts/HelveticaNeueCyr-Medium.woff');
	font-weight: 500;
	font-style: normal;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	display: block;
}

.full-height {
	min-height: calc(100% - 159px);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.ms-hr {
	margin: 9px 0;
}

.hr-checkbox {
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #cfd2da;
	border-radius: 4px;
	color: #cfd2da;
	text-align: center;
	font-size: 14px;
	padding: 0;
	cursor: pointer;
	transition: background 0.2s ease;

	i {
		display: none;
	}

	&.checked {
		background: $color-blue;
		border: 1px solid $color-blue;
		color: #fff;

		i {
			display: block;
		}
	}
}


.sub-header-search-dropdown-btn {
	background: $color-gray;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	color: #fff;
	transition: background 0.1s ease;

	&:hover {
		background: #b7bcc7;
	}

	&:active, &:focus {
		background: #a3a8b3;
	}

	.ms-form-icon {
		color: #fff;
		border-left: 1px solid #fff;
	}
}

.no-margin {
	margin: 0 !important;
}

.content-block-sample {
	height: 1000px;
	background: #fff;
	width: 100%;
	margin-top: 40px;
}

.rx-form-group {
	margin-bottom: 15px;
}

.rx-form-control {
	display: block;
	background: #fff;
	border-radius: $border-radius;
	outline: none;
	padding: 10px 15px;
	width: 100%;
	border: 1px solid #fff;
	box-sizing: border-box;
	min-height: 41px;
	height: 41px;
}

.main-wrapper {
	min-height: 100%;
}

// Margins
@for $i from 0 through 200 {
	@if ($i) % 5 == 0 {
		.mb-#{$i} {
			margin-bottom: #{$i}px !important;
		}

		.mt-#{$i} {
			margin-top: #{$i}px !important;
		}

		.ml-#{$i} {
			margin-left: #{$i}px !important;
		}

		.mr-#{$i} {
			margin-right: #{$i}px !important;
		}

		.pb-#{$i} {
			padding-bottom: #{$i}px !important;
		}

		.pt-#{$i} {
			padding-top: #{$i}px !important;
		}

		.pl-#{$i} {
			padding-left: #{$i}px !important;
		}

		.pr-#{$i} {
			padding-right: #{$i}px !important;
		}

		.height-#{$i} {
			height: #{$i}px !important;
		}

		.width-#{$i} {
			width: #{$i}px !important;
		}
	}
}

// Margins
@for $i from 0 through 50 {
    @if ($i) > 8 {
        .font-size-#{$i} {
            font-size: #{$i}px !important;
        }
    }
}

.loader-container {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

#loading-bar .bar {
	background: $color-light-blue;
	height: 4px;
}

.ms-panel {
	border-radius: $border-radius;
	padding: 15px;
	margin-bottom: 10px;

	&.ms-panel-gray {
		background: #42454d;
		color: #fff;
	}

	&.ms-panel-default {
		background: #fff;
		color: #000;
	}
}

.inline-block {
	display: inline-block;
}

checkbox {
	&.checkbox-default {

		.hr-checkbox {
			border: 1px solid #fff;
			color: #fff;

			&.checked {
				background: #fff;
				color: #000;
			}
		}
	}
}

.media-top {
	vertical-align: top;
}

.media-bottom {
	vertical-align: bottom;
}

.modal-content {

	.hr-modal-container {
		background: $color-light-gray5;

		.hr-modal-header {
			background: #fff;
			box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.31);
			padding: 21px;
			font-size: 15px;

			i {
				cursor: pointer;
				font-size: 17px;
			}

			span {

			}
		}

	}

}

.col-xs-hide {
	display: none;
}

.col-sm-hide {
	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.col-md-hide {
	@media only screen and (min-width: 992px) {
		display: none;
	}
}

.col-lg-hide {
	@media only screen and (min-width: 1200px) {
		display: none;
	}
}

// col show
.col-xs-show {
	display: block;
}

.col-sm-show {
	@media only screen and (min-width: 768px) {
		display: block;
	}
}

.col-md-show {
	@media only screen and (min-width: 992px) {
		display: block;
	}
}

.col-lg-show {
	@media only screen and (min-width: 1200px) {
		display: block;
	}
}

.text-delimiter {
	span {
		&:after {
			content: ' / ';
		}

		&:last-child {
			&:after {
				content: '';
			}
		}
	}
}

.text-wrap {
	white-space: normal;
}

.toast {
	background-color: #ccc;
}

.toast-success {
	background-color: $color-green2;
}

.toast-error {
	background-color: $color-red;
}

.toast-info, .toast-wait {
	background-color: $color-blue;
}

.toast-warning {
	background-color: $color-orange;
}

#toast-container > div {
	opacity: 1;
}

.toast-top-right {
	left: 20px;
	top: 20px;
	right: auto;
}

.container-full-width {
	overflow: hidden;
}

.bg-color-red {
	background: $color-red;
	color: #fff;
}

.bg-color-green {
	background: $color-green;
	color: #fff;
}

.bg-color-blue {
	background: $color-blue;
	color: #fff;
}

.bg-color-orange {
	background: $color-orange;
	color: #fff;
}

.bg-color-gray {
	background: $color-dark-gray;
	color: #fff;
}

.bg-color-light-gray {
	background: $color-light-gray2;
	color: #fff;
}

.bg-color-light-gray2 {
	background: #f5f6f7;
}

.bg-color-violet {
	background: $color-violet;
	color: #fff;
}

.bg-color-white {
	background: #fff;
}

.color-red {
	color: $color-red;
}

.color-green {
	color: $color-green;
}

.color-blue {
	color: $color-blue;
}

.color-orange {
	color: $color-orange;
}

.color-gray {
	color: $color-dark-gray;
}

.color-light-gray {
	color: $color-light-gray;
}

.color-violet {
	color: $color-violet;
}

.hr-modal-body {
	p {
		font-size: 16px;
	}
}

.min-height-100 {
	min-height: calc(100% - 159px);
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

checkbox {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
}

.view-container {
	min-height: 100%;
	margin-bottom: -79px;
	padding-bottom: 79px;
}

.rx-error {
	.dropdown {
		button {
			border: 1px solid $color-red;
		}
	}
}

input[disabled] {
	cursor: default;
	color: #9E9E9E;
	background-color: #eee;
	border-color: #ccc;
}