.footer {
	padding: 30px 0;
	background: #42454d;

	.footer-center {
		margin: auto;
		//width: 1170px;
		padding: 0 20px;

		.footer-left-side {
			color: $color-light-gray2;
			float: left;

			a {
				display: inline-block;
				color: $color-light-gray2;
				margin-right: 17px;
				position: relative;

				&:after {
					content: ' | ';
					display: block;
					position: absolute;
					right: -10px;
					top: 0;
				}

				&:last-of-type {
					&:after {
						display: none;
					}
				}
			}
		}

		.footer-right-copy {
			color: #fff;
			font-family: Lato, sans-serif;
			font-size: 14px;
		}

		.footer-right-copy {
			float: right;
		}
	}

}