.ms-form-control {
	//height: 40px;
	border-radius: $border-radius;
	border: 1px solid rgba(0, 0, 0, 0);
	position: relative;
	//padding: 9px 9px 9px 22px;
	padding: 9px 60px 9px 22px;
}

.ms-form-icon {
	position: absolute;
	right: 10px;
	top: 4px;
	border-left: 1px solid #cfd2da;
	height: calc(100% - 7px);
	padding: 9px 2px 6px 12px;
	cursor: pointer;
	width: 27px;
	
	i {
		line-height: 18px;
	}
}

.dropdown-label {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ms-form-items {
	position: absolute;
	z-index: 9;
	border-radius: $border-radius;
	background: $color-light-gray;
	width: auto;
	top: calc(100% + 10px);
	box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.42);
	margin: 0;
	padding: 0;
	min-width: 100%;
	overflow: hidden;
	max-height: 379px;
	overflow-y: auto;
	
	&.right {
		right: 0;
	}
	
	&.left {
		left: 0;
	}
	
	li {
		display: block;
		
		a {
			white-space: nowrap;
			display: block;
			padding: 10px 20px;
			color: $color-dark;
			text-transform: capitalize;
			
			&:hover {
				text-decoration: none;
			}
		}
		
		&.active {
			
			a {
				color: #fff;
				background: $color-blue;
			}
		}
	}
	
	.ms-form-items-history-row {
		padding: 0 20px;
		margin-top: 5px;
		
		&:first-of-type {
			padding-top: 20px;
		}
		
		&:last-of-type {
			padding-bottom: 20px;
		}
		
		.ms-form-items-history-row-date {
			color: $color-gray;
			padding-right: 15px;
			margin-right: 15px;
			cursor: pointer;
			white-space: nowrap;
			margin-bottom: 3px;
			
			a {
				color: $color-dark-gray;
				cursor: pointer;
			}
		}
		
		.ms-form-items-history-row-parameters {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			
			.ms-form-items-history-row-parameter {
				background: #4a74d1;
				border-radius: 5px;
				padding: 1px 5px 1px 5px;
				color: #fff;
				font-size: 13px;
				position: relative;
				margin: 2px;
				white-space: nowrap;
			}
		}
	}
}

.ms-form-items-history {
	position: absolute;
	z-index: 9;
	border-radius: $border-radius;
	background: $color-light-gray;
	width: auto;
	top: calc(100% + 10px);
	left: 0;
	box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.42);
	margin: 0;
	min-width: 100%;
	padding: 20px;
	
}

.rx-form-label {
	color: $color-dark-gray;
	font-size: 15px;
}

.hr-input-group {
	position: relative;
	
	.confirmation-box {
		display: block;
		position: absolute;
		top: 10px;
		right: 13px;
		
		i {
			margin-right: 10px;
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
		}
		
		span {
			color: $color-gray;
			font-style: italic;
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	
}