header {
	background: #4a74d1;

	a.logo-block {
		background: url('../images/logo.png') no-repeat center;
		display: block;
		width: 240px;
		height: 80px;
        background-size: auto 44px;

		@media all and (min-width: $screen-md-min) {
			float: left;
		}
	}

	.open-nav-responsive {
		display: block;
		float: right;
		color: #fff;
		margin: 26px;
		cursor: pointer;
		font-size: 27px;
		position: absolute;
		top: 0;
		right: 0;

		@media all and (min-width: $screen-md-min) {
			display: none;
		}
	}
	.nav-block {
		background: $color-blue;
		display: none;


		@media all and (min-width: $screen-md-min) {
			float: right;
			display: block;
			position: static;
			width: calc(100% - 240px);
		}

		ul.nav-bar {
			padding: 0;
			margin-bottom: 0;

			@media all and (min-width: $screen-md-min) {
				flex-direction: row;
				display: flex;
				box-shadow: none;
				justify-content: flex-end;
			}

			&>li {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 14px;
				width: 100%;
				text-align: center;
				display: flex;
				max-width: 300px;
				margin-left: 2px;

				&>a {
					border-top: 2px solid rgba(0, 0, 0, 0);
					padding: 27px 10px;
					color: $color-light-blue2;
					display: block;
					width: 100%;

					&:hover {
						text-decoration: none;
						background: $color-blue2;
                        color: #fff;

                        @media all and (min-width: $screen-md-min) {
							border-top: 2px solid #fff;
						}
					}

					&:focus {
						text-decoration: none;
						outline: none;
                        color: #fff;
                    }
				}

				&.active {
					&>a {
						background: #3b64c0;
                        color: #fff;


                        &:hover {
							text-decoration: none;
							background: $color-blue2;
						}

						@media all and (min-width: $screen-md-min) {
							border-top: 2px solid #fff;
						}
					}
				}
			}

			.account-bar {
				//display: flex;
				//flex-direction: row;
				//justify-content: space-between;

				background: $color-blue2;
				//width: 300px;
				//height: 70px;
				padding: 15px 25px;
				text-align: center;
				white-space: nowrap;
				justify-content: center;

				.avatar-container {
					border-radius: 50%;
					overflow: hidden;
					height: 50px;
					width: 50px;
					background-size: cover;
					margin-right: 10px;
					display: inline-block;
					vertical-align: middle;
				}

				.info-container {
					color: #fff;
					padding-top: 2px;
					margin-right: 15px;
					display: inline-block;
					vertical-align: middle;
					text-transform: none;

					.name-container {
						font-size: 17px;
					}

					.email-container {
						font-size: 14px;
                        color: $color-light-blue2;
					}
				}

				.dropdown-conainer {
					color: #fff;
					opacity: 0.7;
					padding: 15px 0;
					display: inline-block;
					vertical-align: middle;

					i {
						cursor: pointer;
					}
				}
			}

		}
	}

}

.sub-header {
	box-shadow: 0 8px 21px -12px #888;
	background: #fff;
	margin-bottom: 40px;
	min-height: 80px;
	

	.sub-header-fluid {
		margin: auto;
		padding: 20px 20px;
	}


}

.sub-header-search-input {
    width: 100%;
    background: #fff;
    border: 1px solid #cfd2da;
    box-sizing: border-box;
    padding: 0;
    min-height: 40px;

    @media all and (min-width: $screen-md-min) {
        //width: calc(60% - 30px);
    }

    .search-input-placeholder {
        position: relative;
        padding: 5px 2px 4px 37px;
        color: #7d8392;

        .dropdown-right-icon {
            position: absolute;
            left: 14px;
            top: 7px;
            color: #7d8392;
        }
    }

    .search-input-tags {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: auto;
        flex-wrap: wrap;
        width: calc(100% - 40px);
        overflow: hidden;

        .input-tag {
            padding: 5px;
            font-size: 13px;
            position: relative;
            color: $color-blue2;
            font-weight: bold;
            margin: 0 5px;

            &:after {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                background: $color-green;
                position: absolute;
                right: -7px;
                top: 13px;
                margin: auto;
                border-radius: 50%;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
}

.sub-header-search-dropdown {
    width: auto;
	min-width: 100%;
	background: #fff;
    top: calc(100% + 10px);
    border: 1px solid #cfd2da;
    border-radius: 5px;
    left: 0;
    padding: 15px 15px 0 15px;
    box-shadow: 1px 1px 11px -2px rgba(0, 0, 0, 0.2);
    z-index: 999;
	height: auto;
	position: absolute;


    @media all and (min-width: $screen-xs-min) {
        position: absolute;
	    width: auto;
	    min-width: 100%;
        background: #fff;
        top: calc(100% + 10px);
        z-index: 10;
        border: 1px solid $color-light-gray3;
        border-radius: $border-radius;
        left: 0;
        box-shadow: 1px 1px 11px -2px rgba(0, 0, 0, 0.2);
        height: auto;
    }






    .sub-header-search-dropdown-row {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 40px;
        }

        .sub-header-search-dropdown-input {
            background: $color-light-gray;
            border-radius: $border-radius;
            height: 40px;
            margin-bottom: 20px;
        }
    }

    .toggle-popup {
        text-align: right;
        color: #ccc;
        font-size: 24px;
        margin-bottom: 20px;

        @media all and (min-width: $screen-xs-min) {
            display: none;
        }
    }
}

.sub-header-search-history {
    width: 100%;

    @media all and (min-width: $screen-md-min) {
        //width: calc(17% - 30px);
    }
}

.sub-header-search-sorting {
    //width: 100%;

    @media all and (min-width: $screen-md-min) {
        //width: 23%;
    }
}

.submit-row {
	display: block;

	@media all and (min-width: $screen-xs-min) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.sub-header-search-submit-left {
		width: 100%;
		margin-bottom: 15px;

		@media all and (min-width: $screen-xs-min) {
			width: 200px;
			margin-bottom: 0;
		}
	}

	.sub-header-search-submit-right {
		width: 100%;

		@media all and (min-width: $screen-xs-min) {
			width: 230px;
		}

		.search-count-result {
			float: left;
			white-space: nowrap;
			position: relative;
			padding-left: 30px;
			margin-top: 10px;
			font-size: 14px;

			i {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				font-size: 20px;
			}
		}

		button {
			float: right;
		}
	}
}
//
//.ms-form-contol-tags-input {
//	//width: calc(100% - 213px);
//	//margin-right: 43px;
//
//	border: 1px solid #ccc;
//	border-radius: 5px;
//
//	.host {
//		height: auto;
//
//		&:focus, &:active {
//			outline: none;
//		}
//
//		.tags {
//			background: none;
//			border: none;
//			box-shadow: none;
//			padding: 4px 5px 0 5px;
//			height: auto;
//
//			&:focus, &:active {
//				outline: none;
//			}
//
//			.input, .tag-item {
//				margin: 0 5px 4px 0;
//				font-size: 13px;
//				font-weight: 600;
//				font-family: Lato, sans-serif;
//				padding: 6px 10px;
//				height: auto;
//				line-height: normal;
//				background: none;
//			}
//
//			.input {
//				//padding-left: 0;
//				min-height: 31px;
//			}
//
//			.tag-list {
//				.tag-item {
//					background: $color-blue;
//					border: none;
//
//					.remove-button {
//						color: #fff;
//						margin: 0 0 0 10px;
//					}
//				}
//			}
//		}
//	}
//
//}


.nav-bar-submenu-dropdown {
	text-transform: none;
	left: initial;
	right: 30px;
}
