.login-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;

	.login-center {
		width: 100%;
		padding: 0 15px;
		overflow: hidden;
		
		@media all and (min-width: $screen-xs-min) {
			width: 333px;
		}
		
	}
}

.logo-block-login {
	background: url(../images/logo-Color.svg) no-repeat center;
	display: block;
	width: 100%;
	height: 130px;
	background-size: contain;
	margin-bottom: 33px;
}