.right-side {
	width: 100%;

	@media all and (min-width: $screen-md-min) {
		width: calc(70% - 20px);
	}


}

.pagination-container {
	border-radius: $border-radius;
	margin: 0 auto 60px auto;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	li {
		display: flex;
		
		a {
			padding: 9px 12px;
			
			border: none;
			color: #bcc1cc;
			font-weight: bold;
			
			
		}
		
		&.active {
			a {
				background-color: $color-green;
				border-color: $color-green;
				color: #fff;
			}
		}
	}
}
