@mixin buttons() {
	&.hr-btn-primary {
		
		background: $color-blue;
		color: #fff;
		
		&[disabled] {
			background: rgba(228, 228, 228, 0.81);
			color: #bdbdbd;
		}
		
		&:hover {
			background: $color-blue2;
		}
		
	}
	
	&.hr-btn-danger {
		background: $color-red;
		color: #fff;
		
		&[disabled] {
			background: rgba(149, 0, 13, 0.27);
			color: #fff;
		}
		
		&:hover {
			background: rgba(146, 32, 7, 0.79);
		}
		
	}
	
	&.hr-btn-success {
		background: $color-green;
		color: #fff;
		
		&:hover {
			background: $color-green2;
		}
	}
	
	&.hr-btn-default {
		color: #fff;
		
		background: $color-light-gray;
		
		&:hover {
			background: $color-gray;
		}
	}
	
	&.hr-btn-dark-gray {
		
		color: #fff;
		
		background: $color-dark-gray;
		
		&:hover {
			background: $color-gray;
		}
	}
	
	&.hr-btn-linkedin {
		background-color: #007bb6;
		color: #fff;
	}
	
	
	//
	&.hr-btn-block {
		display: block;
		width: 100%;
	}
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;
}
