.content-settings {
	padding: 0 15px;
	margin: auto;
	
	@media all and (min-width: $screen-sm-min) {
		width: $screen-sm-min;
	}
	
	.rx-form-label {
		margin-top: 7px;
		margin-bottom: 10px;
		
		
		@media all and (min-width: $screen-sm-min) {
			text-align: right;
			margin-bottom: 7px;
		}
	}
}

.rx-error {
	.rx-form-label {
		color: $color-red;
	}
	
	.rx-form-control {
		border-color: $color-red;
	}
}

