.profile-left {
	
	padding: 0 15px;
	
	@media all and (min-width: $screen-md-min) {
		float: left;
		width: 263px;
	}
}

.profile-right {

	padding: 0 15px;
	
	@media all and (min-width: $screen-md-min) {
		float: left;
		width: calc(100% - 263px);
	}
}

.profile-photo {
	border-radius: $border-radius;
	height: 233px;
	max-width: 233px;
	margin: auto;
	background-size: cover;
	background-position: center;
}

.pf-languages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	
	.pf-language {
		display: block;
		padding: 15px;
		border: 1px solid #eeeeee;
		border-radius: 5px;
		margin-right: 10px;
		font-size: 14px;
		
		.pf-language-title {
			display: block;
		}
		
		.pf-language-proficiency {
			display: block;
			color: $color-dark-gray;
		}
	}
}

