.profiles {

	.profile {
		display: flex;
		flex-direction: row;
		
		padding: 20px;
		box-sizing: border-box;
		justify-content: space-between;
		background: #fff;
		align-items: flex-start;

		&:nth-of-type(even) {
			background: #f5f6f7;
		}
		
		@media all and (min-width: $screen-sm-min) {
			min-height: 240px;
		}

		@media all and (min-width: $screen-md-min) {
			border-radius: $border-radius;
			margin-bottom: 20px;

			&:nth-of-type(even) {
				background: #fff;
			}
		}

		.profile-image {
			width: 100px;
			height: 100px;
			display: none;
			@media all and (min-width: $screen-xs-min) {
				display: block;
			}

			background-size: cover;
			border-radius: $border-radius;
			margin-bottom: 15px;
			background-position: center;
			
			@media all and (min-width: $screen-sm-min) {
				margin-bottom: 0;
				width: 200px;
				height: 200px;
			}
		}

		.profile-info {//
			width: 100%;
			
			@media all and (min-width: $screen-xs-min) {
				width: calc(100% - 120px);
			}
			
			@media all and (min-width: $screen-sm-min) {
				width: calc(100% - 220px);
			}

			.profile-heading {
				margin-bottom: 5px;

				.profile-title {
					font-size: 18px;
					color: #0084bf;
					font-weight: 600;
					float: left;
					cursor: pointer;

					.person-age {
						color: $color-dark-gray;
						font-size: 12px;
						margin-left: 10px;
						font-weight: normal;
						display: inline-block;
						vertical-align: top;
						margin-top: 5px;
					}
				}

				.hr-checkbox {
					float: right;
				}

			}

			.profile-headline {
				font-size: 14px;
				color: $color-blue;
				line-height: 1.7em;
			}

			.profile-experience {
				font-size: 14px;
				color: $color-dark;
				line-height: 1.7em;

			}

			.profile-location {
				font-size: 14px;
				color: $color-dark;
				line-height: 1.7em;
			}


		}
	}
}

.empty-profiles {
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
	color: #ccc;
	font-style: italic;
}

.content-container {
	background: #fff;
	border-radius: $border-radius;
	padding: 20px;
}



.pf-layout-1 {
	font-size: 17px;
	
	span.person-age {
		font-size: 14px;
		margin-left: 8px;
	}
}



.pf-layout-2 {
	color: $color-blue;
	font-size: 15px;
}

.pf-layout-3 {
	
}

.pf-layout-4 {
	color: $color-dark-gray;
}

.pf-label {
	color: $color-dark-gray;
	text-transform: uppercase;
}

.profile-social-networks-hidden {
	display: none;
	
	@media all and (min-width: $screen-sm-min) {
		display: block;
	}
}

.profile-social-networks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	.profile-social-network {
		display: block;
		margin-right: 10px;
		
		i {
			border-radius: 5px;
			background: $color-gray;
			padding: 9px 0;
			color: #fff;
			width: 32px;
			height: 32px;
			text-align: center;
		}
		
		.fa.fa-500px {
			background: #0099e5;
		}
		.fa.fa-adn {
			background: #4A484C;
		}
		.fa.fa-amazon {
			background: #ff9900;
		}
		.fa.fa-android {
			background: #a4c639;
		}
		.fa.fa-angellist {
			background: #000;
		}
		.fa.fa-apple {
			background: #979797;
		}
		.fa.fa-behance {
			background: #1769ff;
		}
		.fa.fa-behance-square {
			background: #1769ff;
		}
		.fa.fa-bitbucket {
			background: #205081;
		}
		.fa.fa-bitbucket-square {
			background: #205081;
		}
		.fa.fa-bitcoin {
			background: #ee9209;
		}
		.fa.fa-black-tie {
			background: #222;
		}
		.fa.fa-btc {
			background: #ee9209;
		}
		.fa.fa-buysellads {
			background: #c90100;
		}
		.fa.fa-cc-amex {
			background: #007bc1;
		}
		.fa.fa-cc-diners-club {
			background: #004A97;
		}
		.fa.fa-cc-discover {
			background: #f68121;
		}
		.fa.fa-cc-jcb {
			background: #003A8F;
		}
		.fa.fa-cc-mastercard {
			background: #0a3a82;
		}
		.fa.fa-cc-paypal {
			background: #253b80;
		}
		.fa.fa-cc-stripe {
			background: #00afe1;
		}
		.fa.fa-cc-visa {
			background: #0157a2;
		}
		.fa.fa-chrome {
			background: #4587F3;
		}
		.fa.fa-codepen {
			background: #000;
		}
		.fa.fa-connectdevelop {
			background: #391448;
		}
		.fa.fa-contao {
			background: #eb8623;
		}
		.fa.fa-creative-commons {
			background: #231f20;
		}
		.fa.fa-css3 {
			background: #1680C0;
		}
		.fa.fa-dashcube {
			background: #7f7f7f;
		}
		.fa.fa-delicious {
			background: #3399ff;
		}
		.fa.fa-deviantart {
			background: #4e6252;
		}
		.fa.fa-digg {
			background: #000;
		}
		.fa.fa-dribbble {
			background: #444444;
		}
		.fa.fa-dropbox {
			background: #007ee5;
		}
		.fa.fa-drupal {
			background: #0077c0;
		}
		.fa.fa-empire {
			background: #000;
		}
		.fa.fa-expeditedssl {
			background: #343433;
		}
		.fa.fa-facebook {
			background: #3b5998;
		}
		.fa.fa-facebook-official {
			background: #3b5998;
		}
		.fa.fa-facebook-square {
			background: #3b5998;
		}
		.fa.fa-firefox {
			background: #e66000;
		}
		.fa.fa-flickr {
			background: #ff0084;
		}
		.fa.fa-fonticons {
			background: #1C1E29;
		}
		.fa.fa-forumbee {
			background: #83ad13;
		}
		.fa.fa-foursquare {
			background: #0072b1;
		}
		.fa.fa-ge {
			background: #000;
		}
		.fa.fa-get-pocket {
			background: #d3505a;
		}
		.fa.fa-gg {
			background: #000;
		}
		.fa.fa-gg-circle {
			background: #000;
		}
		.fa.fa-git {
			background: #333;
		}
		.fa.fa-git-square {
			background: #333;
		}
		.fa.fa-github {
			background: #333;
		}
		.fa.fa-github-alt {
			background: #333;
		}
		.fa.fa-github-square {
			background: #333;
		}
		.fa.fa-gittip {
			background: #663300;
		}
		.fa.fa-google {
			background: #4285f4;
		}
		.fa.fa-google-plus {
			background: #dd4b39;
		}
		.fa.fa-google-plus-square {
			background: #dd4b39;
		}
		.fa.fa-google-wallet {
			background: #4285f4;
		}
		.fa.fa-hacker-news {
			background: #ff6600;
		}
		.fa.fa-houzz {
			background: #7ac142;
		}
		.fa.fa-html5 {
			background: #e34f26;
		}
		.fa.fa-instagram {
			background: #3f729b;
		}
		.fa.fa-internet-explorer {
			background: #1EBBEE;
		}
		.fa.fa-ioxhost {
			background: #faa729;
		}
		.fa.fa-joomla {
			background: #142849;
		}
		.fa.fa-jsfiddle {
			background: #4679BD;
		}
		.fa.fa-lastfm {
			background: #c3000d;
		}
		.fa.fa-lastfm-square {
			background: #c3000d;
		}
		.fa.fa-leanpub {
			background: #0c0c0c;
		}
		.fa.fa-linkedin {
			background: #0976b4;
		}
		.fa.fa-linkedin-square {
			background: #0976b4;
		}
		.fa.fa-linux {
			background: #333333;
		}
		.fa.fa-maxcdn {
			background: #FF6600;
		}
		.fa.fa-meanpath {
			background: #538ed7;
		}
		.fa.fa-medium {
			background: #000;
		}
		.fa.fa-odnoklassniki {
			background: #ed812b;
		}
		.fa.fa-odnoklassniki-square {
			background: #ed812b;
		}
		.fa.fa-opencart {
			background: #2AC2EF;
		}
		.fa.fa-openid {
			background: #F78C40;
		}
		.fa.fa-opera {
			background: #cc0f16;
		}
		.fa.fa-optin-monster {
			background: #83c11f;
		}
		.fa.fa-pagelines {
			background: #000;
		}
		.fa.fa-paypal {
			background: #253b80;
		}
		.fa.fa-pied-piper {
			background: #2f9f46;
		}
		.fa.fa-pied-piper-alt {
			background: #2f9f46;
		}
		.fa.fa-pied-piper-square {
			background: #2f9f46;
		}
		.fa.fa-pinterest {
			background: #cc2127;
		}
		.fa.fa-pinterest-p {
			background: #cc2127;
		}
		.fa.fa-pinterest-square {
			background: #cc2127;
		}
		.fa.fa-qq {
			background: #000;
		}
		.fa.fa-ra {
			background: #000;
		}
		.fa.fa-rebel {
			background: #000;
		}
		.fa.fa-reddit {
			background: #ff4500;
		}
		.fa.fa-reddit-square {
			background: #ff4500;
		}
		.fa.fa-renren {
			background: #005EAC;
		}
		.fa.fa-safari {
			background: #1B88CA;
		}
		.fa.fa-sellsy {
			background: #1f78b9;
		}
		.fa.fa-share-alt {
			background: #01bf01;
		}
		.fa.fa-share-alt-square {
			background: #01bf01;
		}
		.fa.fa-shirtsinbulk {
			background: #dd3a26;
		}
		.fa.fa-simplybuilt {
			background: #000;
		}
		.fa.fa-skyatlas {
			background: #00adbb;
		}
		.fa.fa-skype {
			background: #00aff0;
		}
		.fa.fa-slack {
			background: #0f7965;
		}
		.fa.fa-slideshare {
			background: #e98325;
		}
		.fa.fa-soundcloud {
			background: #f80;
		}
		.fa.fa-spotify {
			background: #7ab800;
		}
		.fa.fa-stack-exchange {
			background: #000;
		}
		.fa.fa-stack-overflow {
			background: #fe7a15;
		}
		.fa.fa-steam {
			background: #0B0B0B;
		}
		.fa.fa-steam-square {
			background: #0B0B0B;
		}
		.fa.fa-stumbleupon {
			background: #eb4924;
		}
		.fa.fa-stumbleupon-circle {
			background: #eb4924;
		}
		.fa.fa-tencent-weibo {
			background: #74AF2C;
		}
		.fa.fa-trello {
			background: #256a92;
		}
		.fa.fa-tripadvisor {
			background: #589442;
		}
		.fa.fa-tumblr {
			background: #35465c;
		}
		.fa.fa-tumblr-square {
			background: #35465c;
		}
		.fa.fa-twitch {
			background: #6441a5;
		}
		.fa.fa-twitter {
			background: #55acee;
		}
		.fa.fa-twitter-square {
			background: #55acee;
		}
		.fa.fa-viacoin {
			background: #333;
		}
		.fa.fa-vimeo {
			background: #1ab7ea;
		}
		.fa.fa-vimeo-square {
			background: #1ab7ea;
		}
		.fa.fa-vine {
			background: #00b488;
		}
		.fa.fa-vk {
			background: #45668e;
		}
		.fa.fa-wechat {
			background: #93d034;
		}
		.fa.fa-weibo {
			background: #E71D34;
		}
		.fa.fa-weixin {
			background: #93d034;
		}
		.fa.fa-wikipedia-w {
			background: #000;
		}
		.fa.fa-windows {
			background: #00bcf2;
		}
		.fa.fa-wordpress {
			background: #21759b;
		}
		.fa.fa-xing {
			background: #026466;
		}
		.fa.fa-xing-square {
			background: #026466;
		}
		.fa.fa-y-combinator {
			background: #F0652F;
		}
		.fa.fa-yc {
			background: #F0652F;
		}
		.fa.fa-yahoo {
			background: #400191;
		}
		.fa.fa-yelp {
			background: #af0606;
		}
		.fa.fa-youtube {
			background: #e52d27;
		}
		.fa.fa-youtube-play {
			background: #e52d27;
		}
		.fa.fa-youtube-square {
			background: #e52d27;
		}
		
	}
}



.profile-skills {
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
	display: flex;
	
	
	
	.profile-skills-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-right: -10px;
		
		
	}
	
	.profile-skill {
		background: $color-light-gray;
		margin-right: 10px;
		border-radius: $border-radius;
		display: flex;
		flex-direction: row;
		overflow: hidden;
		margin-top: 10px;
		font-family: HelveticaNeue, sans-serif;
		font-weight: 500;
		font-size: 14px;
		height: 32px;
		flex-grow: 1;
		
		.profile-skill-value {
			background: $color-blue;
			padding: 8px;
			color: #fff;
			width: 42px;
			text-align: center;
		}
		
		.profile-skill-title {
			padding: 8px 15px 0 15px;
			white-space: nowrap;
		}
	}
}

.profiles {
	.profile-skills {
		display: none;
		
		@media all and (min-width: $screen-sm-min) {
			display: flex;
		}
	}
}

.highlighted {
	background: #ffd60a;
	border-radius: 2px;
	padding: 0 2px;
	color: #000;
}

.search-actions {
	padding: 15px 0 0 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
	
	@media all and (min-width: $screen-md-min) {
		border-radius: 5px;
		border: 1px solid #ccc;
		padding: 15px 15px 0 15px;
		
	}
}

.count-profiles {
	
	margin-top: 10px;
}

.add-to-vacancy-list {
	span {
		&:after {
			content: ' / ';
		}
		
		&:last-child:after {
			display: none;
		}
	}
}

.profile-invitation-status {
	white-space: nowrap;
	font-size: 13px;
	
	.label-status-delivery {
		display: block;
		padding: 7px 15px;
		color: #fff;
		background: $color-dark-gray;
		border-radius: 5px;
		height: 32px;
		text-align: center;
		font-weight: bold;
		cursor: pointer;
	}
}

.delivery-status {
	
	i {
		font-size: 28px;
		line-height: 1em;
		display: inline-block;
		vertical-align: middle;
	}
	
	span {
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
	}
	
}