.ms-slider {

	.rzslider {
		margin: 0 0 24px 0;

		.rz-bar {
			background: #fff;
			border-radius: 2px;

			&.rz-selection {
				background: $color-blue;
				border-radius: 0;
			}
		}

		.rz-ticks {
			top: 0;

			.rz-tick {
				border-radius: 0;
				width: 3px;
				height: 6px;
				background: #fff;
				margin-left: 5px;

				&:first-of-type, &:last-of-type {
					background: none;
				}

				&.rz-selected {
					background: $color-blue;
				}

				.rz-tick-legend {
					font-family: 'Lato', sans-serif;
					font-size: 12px;
					font-weight: 400;
					color: $color-dark-gray;
					top: 14px;
				}
			}
		}

		.rz-pointer {
			width: 14px;
			height: 14px;
			background: $color-blue;
			top: -5px;
			outline: none;

			&:after {
				display: none;
			}
		}

	}
}

