.search-tabs {
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	
	@media all and (min-width: $screen-md-min) {
		margin-bottom: 20px;
	}
	
	
	div.search-tab {
		padding: 15px 5px;
		cursor: pointer;
		border-bottom: 3px solid rgba(0, 0, 0, 0);
		margin-bottom: -1px;
		color: $color-dark-gray;
		white-space: nowrap;
		font-size: 13px;
		flex-grow: 1;
		text-align: center;
		
		span {
			font-size: 12px;
			border-radius: 50%;
			display: inline-block;
			width: 18px;
			height: 18px;
			text-align: center;
			margin-left: 7px;
			background: #7d8392;
			color: #fff;
		}
		
		&.active {
			border-bottom: 3px solid #4a74d1;
			
			span {
				background: $color-blue;
			}
		}
		
		&:hover {
			border-bottom: 3px solid #fff;
		}
		
		
	}
}