.sidebar-filter {
    background: #e8ebf2;
    padding: 20px;
    border-radius: $border-radius;
    //position: fixed;
    
    .sidebar-filter-toggle {
        display: block;
        @media all and (min-width: $screen-md-min) {
            //display: none;
        }
    }
    
    .sidebar-filter-content {
        //display: none;
        @media all and (min-width: $screen-md-min) {
            //display: block;
        }
    }
}

.reset-filters {
    display: block;
    background: $color-gray;
    padding: 10px 15px 10px 57px;
    color: #fff;
    border-radius: $border-radius;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover {
        text-decoration: none;
    }

    i {
        position: absolute;
        display: block;
        left: 21px;
        top: 11px;
        font-size: 18px;
    }

    .reset-filter-label {
        font-size: 14px;
        font-weight: 400;
    }
}


.hr-sidebar-module {
    margin-bottom: 20px;

    hr {
        border-top: 1px solid #ffffff;
    }

    &:last-of-type {
        margin-bottom: 10px;
    }

   

}

.ms-module-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: 10px;
}

.hr-sidebar-module-content {
    .hr-filter-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 10px;
        cursor: pointer;
        
        .hr-checkbox-box {
            margin-right: 10px;
        }
        
        .hr-contact-value {
            color: $color-dark-gray;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.host {
    position: relative;
    outline: none !important;
    
    &:focus {
        outline: none;
    }
}

.autocomplete-template {
    text-overflow: ellipsis;
    overflow: hidden;
}