tags-input .autocomplete {
	margin-top: 5px;
	position: absolute;
	padding: 5px 0;
	z-index: 999;
	width: 100%;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
tags-input .autocomplete .suggestion-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-height: 280px;
	overflow-y: auto;
	position: relative;
}
tags-input .autocomplete .suggestion-item {
	padding: 5px 10px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #fff;
}
tags-input .autocomplete .suggestion-item.selected {
	color: #fff;
	background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item.selected em {
	color: #fff;
	background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item em {
	font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #fff;
}


tags-input .autocomplete {
	border-radius: 4px;
}
tags-input .autocomplete .suggestion-item.selected {
	color: #262626;
	background-color: #f5f5f5;
}
tags-input .autocomplete .suggestion-item.selected em {
	color: #262626;
	background-color: #f5f5f5;
}
tags-input .autocomplete .suggestion-item em {
	color: #000;
	background-color: #fff;
}

tags-input {

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        ul.tag-list {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            li {
                display: block;
                border-radius: $border-radius;
                background: $color-blue;
                color: #fff;
                margin-right: 6px;
                font-size: 13px;
                padding: 6px 15px;
                margin-bottom: 5px;
                flex-grow: 1;

                ti-tag-item {
                    display: block;

                    ng-include {
                        display: block;
                    }
                }

                span {
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: top;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 14px;
                }
            }
        }

        .input {
            background: none;
            border: none;
            outline: none;
            height: 31px;
            padding: 0;
            margin-bottom: 5px;
        }
    }

}
