.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 {{title}}
    .hr-modal-body.pl-20.pr-20.pt-20.pb-20
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.title}")
                    .rx-form-label.mb-10 Title
                    input.rx-form-control(ng-model="form.title" placeholder="Vacancy title")

        .row
            .col-sm-10
                .form-group(ng-class="{'rx-error': errors.client}")
                    .rx-form-label.mb-10 Select client
                    select.rx-form-control(ng-change="updateResult()" ng-model="form.client" ng-options="option.first_name + ' ' + option.last_name  for option in clients track by option.id")
                        option(value="" selected) Select client
            .col-sm-2
                .form-group
                    .rx-form-label.mb-10 New
                    button.btn.btn-primary.btn-block(ng-click="new()")
                        i.icon.ion-plus-round

        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.inside_information}")
                    .rx-form-label.mb-10 Inside information (will not be visible for candidates)
                    textarea.rx-form-control(ng-model="form.inside_information" placeholder="Inside information")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.description}")
                    .rx-form-label.mb-10 Vacancy description
                    textarea(ng-model="form.description" simplemde="{spellChecker: false, placeholder: 'Your description goes here...'}")


        .row
            .col-sm-3.col-sm-offset-6
                .form-group
                    button.btn.btn-dark-gray.btn-block(ng-click="cancel()")
                        span Cancel
            .col-sm-3
                .form-group
                    button.btn.btn-primary.btn-block(ng-click="save(form)")
                        span Save