div.wrapper.wrapper-gray(ng-controller="VacanciesController")
    .modal-parent

    include ../templates/nav-bar
    .sub-header(ng-if="getChecked().length == 0")
        .container.pt-30
            ul.hc-breadcrumbs
                li
                    a(ng-href="/") Home
                li
                    | Vacancies
    .sub-header(ng-if="getChecked().length > 0")
        .container.pt-20
            .row
                .col-sm-3
                    .form-group
                        .count-profiles.mt-10.text-nowrap
                            i.ion.ion-person
                            span.ml-10 {{getChecked().length}} {{getChecked().length == 1 ? 'vacancy' : 'vacancies'}} selected
                .col-sm-3
                    .form-group
                        button.btn.btn-danger.btn-block(ng-click="deleteBulk(getChecked())") Delete selected
                .col-sm-3
                    .form-group
                        button.btn.btn-primary.btn-block(ng-click="changeStatusBulk(getChecked(), 'archived')") Archive vacancies
                .col-sm-3
                    .form-group
                        button.btn.btn-success.btn-block(ng-click="changeStatusBulk(getChecked(), 'active')") Unarchive vacancies



    .container
        .row
            .col-sm-3
                .form-group
                    .btn-group.btn-block(uib-dropdown is-open="false")
                        button.btn.btn-default.btn-title-width.text-left.text-capitalize {{filter.status}}
                        button.btn.btn-default.dropdown-toggle.btn-icon-width(uib-dropdown-toggle)
                            i.icon.ion-chevron-down
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(uib-dropdown-menu)
                            li
                                a(ng-href="/vacancies/?status=active") Active
                            li
                                a(ng-href="/vacancies/?status=archived") Archived
                            li
                                a(ng-href="/vacancies/?status=all") All

            .col-sm-2.col-sm-offset-7
                .form-group
                    button.btn.btn-block.btn-success(ng-click="create()")
                        i.icon.ion-plus-round.mr-15
                        span Add vacancy
        .ms-panel.pb-0.ms-panel-gray.col-xs-hide.col-md-show
            .row
                .col-md-8.col-lg-9
                    .row
                        .col-xs-6
                            checkbox.inline-block.media-top(ng-init="checkedAll = false" ng-checkbox-status="checkedAll" ng-click="selectAll(checkedAll)")
                            span.inline-block.media-top.ml-15 Vacancy
                        .col-xs-6 Client
                .col-md-4.col-lg-3
                    .form-group
                        | Actions

        .ms-panel.pb-0.ms-panel-default(ng-repeat="vacancy in vacancies.data")
            .row
                .col-md-8.col-lg-9
                    .row
                        .col-xs-6.pt-10.text-nowrap
                            .form-group
                                checkbox.inline-block.media-top(ng-init="vacancy.checked = false" ng-checkbox-status="vacancy.checked")
                                span.inline-block.media-top.ml-15.text-wrap {{vacancy.title}}
                        .col-xs-6.pt-10
                            .form-group {{vacancy.client.first_name}} {{vacancy.client.last_name}}

                .col-md-4.col-lg-3
                    .row
                        .col-xs-6
                            .form-group
                                a.btn.btn-primary.btn-block(ng-href="/search/?vacancy={{vacancy}}") Open
                        .col-xs-3
                            .form-group
                                button.btn.btn-primary.pr-10.pl-10.btn-block(ng-click="update(vacancy)")
                                    i.ion.ion-edit.font-size-20
                        .col-xs-3
                            .form-group.text-right
                                button.btn.btn-dark-gray.pr-10.pl-10.btn-block(ng-click="delete(vacancy)" uib-tooltip="Delete")
                                    i.ion.ion-trash-b.font-size-20
        ul.pagination-container(
            uib-pagination
            total-items="vacancies.total"
            items-per-page="filter.size"
            ng-model="filter.page"
            max-size="5"
            ng-click="index(true)"
            boundary-links="true"
            force-ellipses="true"
            previous-text="‹"
            next-text="›"
            first-text="«"
            last-text="»"
        )