.row
    .col-sm-3
        .mb-20
            button.btn.btn-primary.btn-block(ng-click="addToCalendar()") Add to calendar
    .col-sm-3
        .mb-20
            button.btn.btn-block.btn-primary(ng-click="resume()") Download resume
    .col-sm-3
        .mb-20
            button.btn.btn-primary.btn-block(ng-disabled="!filter.vacancy" ng-click="removeFromVacancy(getChecked(), filter.vacancy)") Remove from vacancy
    .col-sm-3
        .mb-20
            dropdown(ng-model="addToVacancyId", item-class="'btn-primary'" items="vacancies", item-placeholder="'Add to vacancy'", ng-change="addToVacancy(addToVacancyId)" property-select="'id'")