.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 Select vacancy
    .hr-modal-body.pl-15.pr-15.pt-15.pb-15
        //.ms-panel.ms-panel-gray.col-xs-hide.col-sm-show
        //    .row
        //        .col-xs-6.text-nowrap
        //            checkbox.inline-block.media-top(ng-init="checkedAll = false" ng-checkbox-status="checkedAll" ng-click="selectAll(checkedAll)")
        //            span.inline-block.media-top.ml-15 Vacancy name
        //        .col-xs-6 Company name
        //
        //.ms-panel.ms-panel-default.pb-0(ng-repeat="vacancy in vacancies.data")
        //    .row
        //        .col-xs-6.text-nowrap
        //            .mb-5
        //                checkbox.inline-block.media-top(ng-init="vacancy.checked = false" ng-checkbox-status="vacancy.checked")
        //                span.inline-block.media-top.ml-15.text-wrap {{vacancy.title}}
        //        .col-xs-6
        //            .mb-5 {{vacancy.client.first_name}} {{vacancy.client.last_name}}
        table.table.table-striped
            thead
                tr
                    th
                        checkbox.inline-block.media-top(ng-init="checkedAll = false" ng-checkbox-status="checkedAll" ng-click="selectAll(checkedAll)")
                    th Vacancy name
                    th Client name
            tbody
                tr(ng-repeat="vacancy in vacancies.data")
                    td
                        checkbox.inline-block.media-top(ng-init="vacancy.checked = false" ng-checkbox-status="vacancy.checked")
                    td {{vacancy.title}}
                    td {{vacancy.client.first_name}} {{vacancy.client.last_name}}
        .row
            .col-sm-12
                ul.pagination-container(
                    uib-pagination
                    total-items="vacancies.total"
                    items-per-page="filter.size"
                    ng-model="filter.page"
                    max-size="5"
                    ng-click="index()"
                    boundary-links="true"
                    force-ellipses="true"
                    previous-text="‹"
                    next-text="›"
                    first-text="«"
                    last-text="»"
                )
        .row
            .col-sm-6
                .form-group
                    button.btn.btn-success.btn-block(ng-click="new()")
                        i.icon.ion-plus-round.mr-15
                        span New vacancy
            .col-sm-6
                .form-group
                    button.btn.btn-primary.btn-block(ng-click="save()")
                        span Save
