.search-actions(ng-if="!extensionIsInstalled")
    .row
        .col-sm-9
            p Please install and activate extension for Google Chrome to import your profiles from LinkedIn
        .col-sm-3

            a.btn.btn-primary.btn-block.mb-15(target="_blank" href="https://chrome.google.com/webstore/detail/hire-cloud/ipmaonbjmdjnfcddlnnobpdeikajimdg")
                i.fa.fa-chrome.mr-15
                span Install Extension