div.wrapper.wrapper-gray
    //include ../templates/nav-bar
    .sub-header(ng-if="getChecked().length == 0")
        .container.pt-30
            ul.hc-breadcrumbs
                li
                    a(ng-href="/") Home
                li
                    | Search
    .container.min-height-100.pt-100.pb-200
        .row(ng-repeat="(key, row) in newFilter.conditions")
            .col-sm-3
                .form-group
                    .btn-group.btn-block(uib-dropdown is-open="false")
                        button.btn.btn-default.btn-title-width
                            i.fa.fa-list.mr-15
                            span {{row.slug.name}}
                        button.btn.btn-default.dropdown-toggle.btn-icon-width(uib-dropdown-toggle)
                            i.icon.ion-chevron-down
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(uib-dropdown-menu)
                            li(ng-repeat="condition in conditions" ng-class="condition.name === row.slug.name  ? 'active' : ''")
                                a(href="javascript:void(0)", ng-click="assignCondition(newFilter, key, condition)") {{condition.name}}
            .col-sm-6
                .form-group
                    .ms-form-contol-tags-input
                        tags-input(ng-model="row.tags" display-property="text"  placeholder="{{row.tags.length ? row.operator.name : 'Add ' + row.slug.name}}" min-length="1" min-tags="1" max-tags="10" add-on-enter="true" add-on-space="false" add-on-comma="false" replace-spaces-with-dashes="false" ng-click="$event.stopPropagation()")
                            auto-complete(source='loadTags($query, row.slug)', min-length='0', max-results-to-show='32', template='autocomplete-template')


            .col-sm-2
                .form-group
                    .btn-group.btn-block(uib-dropdown is-open="false")
                        button.btn.btn-default.btn-title-width {{row.operator.name}}
                        button.btn.btn-default.dropdown-toggle.btn-icon-width(uib-dropdown-toggle)
                            i.icon.ion-chevron-down
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(uib-dropdown-menu)
                            li(ng-repeat="option in operators" ng-class="option.name === row.operator.name  ? 'active' : ''")
                                a(href="javascript:void(0)", ng-click="row.operator = option") {{option.name}}
            .col-sm-1
                .form-group
                    button.btn.btn-block.btn-default(ng-click="removeRow(newFilter, key)")
                        i.ion.ion-close-round
        .row
            .col-sm-3
                .form-group
                    button.btn.btn-block.btn-primary(ng-click="addCondition(newFilter)")
                        i.icon.ion-plus
                        //.hr-btn-text Add condition


            .col-sm-6
                .form-group
                    button.btn.btn-block.btn-primary(ng-click="search()")
                        i.fa.fa-search.mr-15
                        span Search
            .col-sm-3
                .form-group
                    include ../templates/history

script#autocomplete-template(type='text/ng-template')
    .autocomplete-template
        | {{data.text}} ({{data.doc_count}})