.search-actions(ng-show="!filter.vacancy")
    .row
        .col-sm-6
            .mb-15
                .count-profiles
                    span(ng-if="profiles.took") About {{profiles.hits.total}} results ({{profiles.took / 1000}} seconds)
        .col-sm-3
            .mb-15
                button.btn.btn-primary.btn-block(ng-click="addToHistory()")
                    i.icon.ion-star.mr-15
                    span Save Search
        .col-sm-3
            .mb-15
                button.btn.btn-success.btn-block(ng-click="newCandidate()")
                    i.icon.ion-plus.mr-15
                    span Add Candidate