.search-actions(ng-show="filter.vacancy")
    .row
        .col-sm-9
            .mb-10
                .count-profiles
                    span(ng-if="profiles.took") About {{profiles.hits.total}} results ({{profiles.took / 1000}} seconds)
        .col-sm-3
            .mb-10
                button.btn.btn-primary.btn-block(ng-click="updateVacancy(filter.vacancy)" uib-tooltip="Edit vacancy")
                    i.ion.ion-edit.mr-15
                    span Edit Vacancy