.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 {{title}}
    .hr-modal-body.pl-20.pr-20.pt-20.pb-20
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.title}")
                    .rx-form-label.mb-10 Calendar Title
                    input.rx-form-control(ng-model="form.title" placeholder="Calendar title")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.title}")
                    .rx-form-label.mb-10 Timezone
                    //dropdown(ng-model="form.timezone", item-class="'btn-gray'" items="timezones", item-placeholder="'Select timezone'")

                    .btn-group.btn-block(uib-dropdown auto-close is-open="false")
                        button.btn.btn-title-width.text-left.text-capitalize.btn-gray {{form.timezone.title}}
                        button.btn.dropdown-toggle.btn-icon-width.btn-gray(uib-dropdown-toggle)
                            i.icon.ion-chevron-down
                            span.sr-only Toggle Dropdown
                        ul.dropdown-menu(uib-dropdown-menu)
                            li(ng-repeat="item in timezones" ng-class="{'active': form.timezone == item}")
                                a(href="#" ng-click="form.timezone = item" ng-bind="item.title")

        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.description}")
                    .rx-form-label.mb-10 Description
                    textarea.rx-form-control(ng-model="form.description" placeholder="Description")
        .row
            .col-sm-3
                .form-group
                    button.btn.btn-danger.btn-block(ng-click="delete(form)") Delete
            .col-sm-3.col-sm-offset-3
                .form-group
                    button.btn.btn-dark-gray.btn-block(ng-click="cancel()") Cancel
            .col-sm-3
                .form-group
                    button.btn.btn-primary.btn-block(ng-click="save(form)") Save