.item-condition {
    background: $color-light-gray;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    .btn-group {
         button:last-of-type {
             border-top-right-radius: 0;
             border-bottom-right-radius: 0;
         }
    }

    .item-condition-col {

    }

    $tags-column: 170px;
    $close-column: 25px;

    .item-condition-col-1 {
        width: $tags-column;
    }

    .item-condition-col-2 {
        width: calc(100% - #{$tags-column + $close-column});
        padding: 0 10px;
    }

    .item-condition-col-3 {
        width: $close-column;
        color: $color-dark-gray;

        i {
            margin-top: 12px;
        }
    }
}

.item-tags {
    width: calc(100% - 40px);
}

.item-icon {
    width: 40%;
}

.search-box-tags-input {
    padding: 5px 0 0 0;
}

.search-items {
    overflow: hidden;

    //&:hover {
    //    overflow: visible;
    //}

    .search-items-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        z-index: 9999;
        position: relative;
    }

    .search-item {
        display: block;
        border-radius: 5px;
        background: #4a74d1;
        color: #fff;
        margin-right: 6px;
        font-size: 13px;
        padding: 2px 15px;
        margin-bottom: 5px;
        height: 28px;

    }

}

