div(ng-switch="datepickerMode")
  div(uib-daypicker ng-switch-when="day" tabindex="0" class="uib-daypicker")
  div(uib-monthpicker ng-switch-when="month" tabindex="0" class="uib-monthpicker")
  div(uib-yearpicker ng-switch-when="year" tabindex="0" class="uib-yearpicker")