.btn-group.btn-block(uib-dropdown auto-close is-open="false")
    button.btn.btn-title-width.text-left.text-capitalize(ng-class="itemClass" ) {{ngModel.title || itemPlaceholder}}
    button.btn.dropdown-toggle.btn-icon-width(ng-class="itemClass" uib-dropdown-toggle)
        i.icon.ion-chevron-down
        span.sr-only Toggle Dropdown
    ul.dropdown-menu(uib-dropdown-menu)
        li(ng-if="itemPlaceholder")
            a(href="#" ng-click="select(null)") {{itemPlaceholder}}
        li(ng-repeat="item in items" ng-class="{'active': item.id == ngModel.id && item.hasOwnProperty('id')}")
            a(href="#" ng-click="select(item)" ng-bind="item.title")
