.footer
    .footer-center.clearfix
        .footer-left-side
            a(href="#") Search
            a(href="#") Vacancies
            a(href="#") Dashboard
        .footer-right-copy HireCloud © 2016
