.btn-group.btn-block(uib-dropdown is-open="false")
    button.btn.btn-gray.btn-title-width
        i.fa.fa-history.mr-15
        span History
    button.btn.btn-gray.dropdown-toggle.btn-icon-width(uib-dropdown-toggle)
        i.icon.ion-chevron-down
        span.sr-only Toggle Dropdown
    ul.dropdown-menu(uib-dropdown-menu)
        li(ng-show="!history.length")
            a(href="#") History is empty
        li(ng-repeat="h in history" ng-show="history.length")
            a(ng-href="#" ng-click="applyHistory(h.filter)")
                span {{h.title}} /&nbsp;
                span(am-time-ago="h.localTime | amParse:'MM/DD/YYYY, HH:mm:ss A'")
        li.divider(ng-show="history.length")
        li(ng-show="history.length")
            a(ng-href="#" ng-click="clearHistory()") Clear history