header.clearfix
    a.logo-block(href="#")
    .nav-block.clearfix(ng-style="navbarOpened ? {display: 'block'} : {}")
        ul.nav-bar
            li(ng-repeat="menu_item in user.menu" ng-class="menu_item.path === location.path() ? 'active' : ''")
                a(ng-href="{{menu_item.path}}") {{menu_item.text}}
            li.account-bar(uib-dropdown auto-close="outsideClick")
                .avatar-container(bg-image="{{user.picture}}")
                .info-container
                    .name-container {{user.first_name}} {{user.last_name}}
                    .email-container {{user.email}}
                .dropdown-conainer(uib-dropdown-toggle)
                    i.icon.ion-chevron-down
                ul.nav-bar-submenu-dropdown(uib-dropdown-menu ng-cloak)
                    li
                        a(ng-href="/settings") Settings
                    li
                        a(ng-href="/teams") My Teams
                    li
                        a(href="#" ng-click="logout()") Logout

    .open-nav-responsive
        i.icon.ion-navicon-round(ng-init="navbarOpened = false" ng-click="navbarOpened = !navbarOpened")
