.profiles.mb-40(ng-cloak)
    .profile(ng-repeat="(key, profile) in profiles.hits.hits")
        a.profile-image(ng-href="/profile/{{profile._id}}" bg-image="{{profile._source.profilePhoto}}")
        .profile-info
            .profile-heading.clearfix
                a.profile-title(ng-href="/profile/{{profile._id}}") {{profile._source.fullName}}
                    span.person-age(ng-if="profile._source.age") (<ng-pluralize count="profile._source.age" when="{'one': '{{profile._source.age|number}} year', 'other': '{{profile._source.age|number}} years'}"></ng-pluralize>)
                checkbox.pull-right(ng-init="profile._source.checked = false" ng-checkbox-status="profile._source.checked")
            .profile-headline(ng-bind-html="profile._source.headline ? profile._source.headline : profile.headline")
            .profile-experience(ng-if="profile._source.yearsExperience") Experience: ~<ng-pluralize count="profile._source.yearsExperience" when="{'one': '{{profile._source.yearsExperience|number}} year', 'other': '{{profile._source.yearsExperience|number}} years'}"></ng-pluralize>
            .profile-location(ng-if="profile._source.locationName") {{profile._source.locationName}}
            .profile-skills.height-50(ng-if="profile._source.skills.length")
                .profile-skills-wrapper
                    .profile-skill(ng-repeat="skill in profile._source.skills")
                        .profile-skill-value {{skill.count}}
                        .profile-skill-title {{skill.title}}
            hr.ms-hr
            .row.profile-social-networks-hidden
                .col-sm-12
                    .profile-social-networks
                        a.profile-social-network(ng-repeat="link in profile._source.websites track by $index" href="{{link}}" target="_blank")
                            i.fa(ng-class="getClass(link)")
                        //a.profile-social-network(ng-href="/api/v1/resume/download/{{profile._id}}?access_token={{token}}"  target="_blank")
                        //    i.fa.fa-list-alt
                //.col-sm-3.col-sm-offset-5
                //    a.btn.btn-default.btn-block(href="/api/v1/resume/download/{{profile._id}}?access_token={{token}}" target="_blank")
                //        i.ion.ion-ios-list-outline.mr-15
                //        span Resume
                //.col-sm-4
                //    .form-group
                //        .delivery-status
                //            i.mr-15(ng-class="profile._source.sync.class")
                //            span {{profile._source.sync.label}}
                //.col-sm-4
                //    .btn-group.btn-block(uib-dropdown is-open="false" ng-if="profile._source.hasOwnProperty('info')")
                //        button.btn.btn-default.btn-title-width(ng-class="tabs[profile._source.info.pivot.tab].class")
                //            //i.fa.fa-history.mr-15
                //            span {{tabs[profile._source.info.pivot.tab] ? tabs[profile._source.info.pivot.tab].dropdown : tabs['ALL'].dropdown}}
                //        button.btn.btn-default.dropdown-toggle.btn-icon-width(uib-dropdown-toggle ng-class="tabs[profile._source.info.pivot.tab].class")
                //            i.icon.ion-chevron-down
                //            span.sr-only Toggle Dropdown
                //        ul.dropdown-menu(uib-dropdown-menu)
                //            li(ng-repeat="(key, tab) in tabs")
                //                a(ng-href="#" ng-click="profile._source.info.pivot.tab = key") {{tab.dropdown}}
ul.pagination-container(
    ng-show="(profiles.hits.total > filter.size)"
    uib-pagination
    total-items="profiles.hits.total"
    items-per-page="filter.size"
    ng-model="filter.page"
    max-size="5"
    ng-click="updateResult()"
    boundary-links="true"
    force-ellipses="true"
    previous-text="‹"
    next-text="›"
    first-text="«"
    last-text="»"
)
