.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 {{profile.full_name}}
    .hr-modal-body
        .container-fluid
            .row.mb-20.pt-15
                .col-sm-12
                    .content-container
                        .row
                            .col-sm-3
                                .profile-actions
                                    .form-group
                                        .profile-photo.mb-30(bg-image="{{profile.profile_photo}}")

                            .col-sm-6
                                .form-group
                                    .pf-layout-1.mb-10
                                        | {{profile.full_name}}
                                        span.person-age(ng-if="profile.age") ({{profile.age}} years old)
                                    .pf-layout-2(ng-if="profile.experience.length") Current: {{profile.experience[0].title}} / {{profile.experience[0].subtitle}}
                                    .pf-layout-3(ng-if="profile.education.length") {{profile.education[0].schoolName}}
                                    .pf-layout-3(ng-if="profile.years_experience") Experience: {{profile.years_experience}} {{profile.years_experience == 1 ? 'year': 'years'}}
                                    hr
                                    .pf-layout-1.mb-10 PERSONAL DETAILS
                                    .pf-layout-3 {{profile.locality}}
                                    .pf-layout-3(ng-if="profile.emailAddress")
                                        span.pf-label.mr-5 Email:
                                        | {{profile.emailAddress}}
                                    .pf-layout-3(ng-repeat="number in profile.phoneNumbers")
                                        span.pf-label.mr-5 {{number.type}}:
                                        | {{number.number}}
                                    .pf-layout-3(ng-repeat="im in profile.ims")
                                        span.pf-label.mr-5 {{im.provider}}:
                                        | {{im.id}}
                                    .profile-social-networks.mt-20
                                        a.profile-social-network(ng-repeat="link in profile.websites track by $index" href="{{link}}" target="_blank")
                                            i.fa(ng-class="getClass(link)")
                            .col-sm-3
                                .form-group
                                    .mb-10
                                        a.btn.btn-primary.btn-block(disabled) Add to dashboard
                                    .mb-10
                                        a.btn.btn-primary.btn-block(disabled) Download resume
                                    .mb-10
                                        a.btn.btn-primary.btn-block(disabled) Send message
                                    .mb-10
                                        button.btn.btn-primary.btn-block(ng-click="assignProfile(getChecked(profile))") Add to my vacancies
                        hr
                        .row
                            .col-sm-12
                                .form-group
                                    .pf-layout-1.mb-10 SKILLS
                                    .profile-skills
                                        .profile-skill(ng-repeat="skill in profile.skills")
                                            .profile-skill-value {{skill.count}}
                                            .profile-skill-title {{skill.title}}
                        hr
                        .row
                            .col-sm-6.mb-20
                                div(ng-if="profile.positions.length")
                                    .pf-layout-1.mb-10 EXPERIENCE
                                    div.mb-25(ng-repeat="exp in profile.positions")
                                        .pf-layout-2 {{exp.subtitle}}
                                        .pf-layout-3.mb-10 {{exp.title}}
                                        .pf-layout-4 {{formatDate(exp.timePeriod)}}
                            .col-sm-6.mb-20
                                div(ng-if="profile.education.length")
                                    .pf-layout-1.mb-10 EDUCATION
                                    div.mb-25(ng-repeat="edu in profile.education")
                                        .pf-layout-2 {{edu.title}}
                                        .pf-layout-3(ng-if="edu.fieldOfStudy") {{edu.fieldOfStudy}}
                                        .pf-layout-3.mb-10(ng-if="edu.grade") {{edu.grade}}
                                        .pf-layout-4(ng-if="edu.timePeriod") {{formatDate(edu.timePeriod)}}
                        div(ng-if="profile.language.length")
                            hr
                            .pf-layout-1.mb-10 LANGUAGES
                            ul.pf-languages
                                li.pf-language(ng-repeat="language in profile.language") {{language.title}}
                        div(ng-if="profile.invitations.length")
                            hr
                            .pf-layout-1.mb-10 INVITATIONS HISTORY
                            .row(ng-repeat="invitation in profile.invitations")
                                .col-sm-3.profile-invitation-status
                                    .form-group
                                        div.label-status-delivery(ng-class="invitation.status") {{invitation.status}}
                                .col-sm-5.pt-5
                                    .form-group
                                        div {{invitation.updated_at}}
                                .col-sm-4.pt-5
                                    .form-group
                                        a(ng-href="#") {{invitation.vacancy_title}}