.row
    .col-sm-6
        .mb-20
            .btn-group.btn-block(ng-init="isOpenedSearch = false" outside-click="isOpenedSearch = false")
                button.btn.btn-gray.btn-title-width.text-left.pl-5
                    div(ng-if="flattenConditions().length == 0")
                        i.ion.ion-ios-search-strong.mr-15.font-size-20.ml-10
                        span Search
                    .search-items(ng-if="flattenConditions().length > 0")
                        .search-items-wrapper
                            .search-item(ng-repeat="item in flattenConditions()") {{item.text}}
                button.btn.btn-gray.dropdown-toggle.btn-icon-width(ng-click="isOpenedSearch = !isOpenedSearch")
                    i.icon(ng-class="{'ion-chevron-down': !isOpenedSearch, 'ion-close': isOpenedSearch}")
                    span.sr-only Toggle Dropdown
                .sub-header-search-dropdown(ng-class="{'hide': !isOpenedSearch}")
                    .mb-40(ng-if="filter.conditions.length")
                        .item-condition.mb-20(ng-repeat="(key, condition) in filter.conditions")
                            .item-condition-col.item-condition-col-1
                                .btn-group.btn-block(uib-dropdown is-open="false")
                                    button.btn.btn-dark-gray.btn-title-width.text-left.text-capitalize {{condition.slug.title}}
                                    button.btn.btn-dark-gray.dropdown-toggle.btn-icon-width(uib-dropdown-toggle)
                                        i.icon.ion-chevron-down
                                        span.sr-only Toggle Dropdown
                                    ul.dropdown-menu(uib-dropdown-menu)
                                        li(ng-repeat="item in conditions")
                                            a(ng-href="#" ng-click="condition.slug = item") {{item.title}}
                            .item-condition-col.item-condition-col-2
                                .search-box-tags-input
                                    tags-input.mb-10(ng-model="condition.tags" display-property="text" placeholder="{{condition.tags.length ? condition.operator.name : 'Add ' + condition.slug.title}}" min-length="1" min-tags="1" max-tags="10" add-on-enter="true" add-on-space="false" add-on-comma="false" replace-spaces-with-dashes="false")
                                        auto-complete(source="loadTags($query, condition.slug)", min-length="0", max-results-to-show="32", template="autocomplete-template")
                            .item-condition-col.item-condition-col-3
                                i.ion.ion-close.cursor-pointer.font-size-17(ng-click="removeRow(filter, key, $event)")
                    .row
                        .col-sm-6
                            .form-group
                                button.btn.btn-success.btn-block(ng-click="addCondition(filter)")
                                    i.ion.ion-plus.mr-15
                                    span Add condition
                        .col-sm-6
                            .form-group
                                button.btn.btn-primary.btn-block(ng-click="changeVacancy(); updateResult(); isOpenedSearch = false") Find
    .col-sm-3
        .mb-20
            include ../templates/history

    .col-sm-3
        .mb-20
            .btn-group.btn-block(uib-dropdown is-open="false")
                button.btn.btn-gray.btn-title-width {{filter.sortBy.title}}
                button.btn.btn-gray.dropdown-toggle.btn-icon-width(uib-dropdown-toggle)
                    i.icon.ion-chevron-down
                    span.sr-only Toggle Dropdown
                ul.dropdown-menu(uib-dropdown-menu)
                    li(ng-repeat="sort in sortBy")
                        a(ng-href="#" ng-click="filter.sortBy = sort; updateResult()") {{sort.title}}
