.sidebar-filter
    .sidebar-filter-toggle.clearfix(ng-init="showFilter = true" ng-click="showFilter = !showFilter")
        .ms-module-title.pull-left {{showFilter ? 'Hide': 'Show'}} filter
        i.ion.ion-plus-round.font-size-20.pull-right.cursor-pointer
    .sidebar-filter-content.pt-20(ng-if="showFilter")
        .row(ng-if="!isNewSearch()")
            .col-xs-12
                .mb-30
                    button.btn.btn-dark-gray.btn-block.text-left(ng-click="goToNewSearch()")
                        i.ion.ion-close.mr-15
                        span Reset Filters


        .row
            .col-xs-12
                .mb-30
                    .hr-sidebar-module.ms-slider.filter-age
                        .ms-module-title Age
                        rzslider(rz-slider-model="filter.age.min" rz-slider-high="filter.age.max" rz-slider-options="ageSlider.options")
        .row
            .col-xs-12
                .mb-30
                    .hr-sidebar-module.ms-slider.filter-experience
                        .ms-module-title Experience
                        rzslider(rz-slider-model="filter.experience.min" rz-slider-high="filter.experience.max" rz-slider-options="experienceSlider.options")
        .row
            .col-xs-12
                .mb-30
                    .hr-sidebar-module.ms-slider.filter-experience
                        .ms-module-title Duration of the last job
                        rzslider(rz-slider-model="filter.dateOfLastJob.min" rz-slider-high="filter.dateOfLastJob.max" rz-slider-options="dateOfLastJobSlider.options")
        .hr-sidebar-module
            .ms-module-title Search in vacancy
            .row
                .col-xs-12
                    .form-group
                        dropdown(ng-model="filter.vacancy", item-class="'btn-dark-gray'" items="vacancies", item-placeholder="'Select vacancy'", ng-change="updateResult()" property-select="'id'")
        .hr-sidebar-module.filter-contacts.mb-30
            .ms-module-title Contacts
            .hr-sidebar-module-content
                .hr-filter-item
                    .hr-checkbox-box
                        checkbox(ng-checkbox-status="filter.skype" ng-model="filter.skype" ng-click="updateResult()")
                    .hr-contact-value Skype
                .hr-filter-item
                    .hr-checkbox-box
                        checkbox(ng-checkbox-status="filter.phone" ng-model="filter.phone" ng-click="updateResult()")
                    .hr-contact-value Phone
        .hr-sidebar-module.filter-contacts.mb-30
            .ms-module-title Accounts on sites
            .hr-sidebar-module-content
                .hr-filter-item
                    .hr-checkbox-box
                        checkbox(ng-checkbox-status="filter.github" ng-model="filter.github" ng-click="updateResult()")
                    .hr-contact-value Github
                .hr-filter-item
                    .hr-checkbox-box
                        checkbox(ng-checkbox-status="filter.StackOverflow" ng-model="filter.StackOverflow" ng-click="updateResult()")
                    .hr-contact-value StackOverflow
script#autocomplete-template(type='text/ng-template')
    .autocomplete-template
        | {{data.text}} ({{data.doc_count}})
