.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 {{title}}
    .hr-modal-body.pl-20.pr-20.pt-20.pb-20
        .row
            .col-sm-12
                .form-group.mb-30
                    p Are you really want to delete {{form.first_name + ' ' + form.last_name}} from the list of your clients?


        .row
            .col-sm-6
                .form-group
                    button.btn.btn-block.btn-dark-gray(ng-click="cancel()") Cancel
            .col-sm-6
                .form-group
                    button.btn.btn-block.btn-danger(ng-click="delete(form)") Delete
