.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 {{title}}
    .hr-modal-body.pl-20.pr-20.pt-20.pb-20
        .row
            .col-sm-6
                .form-group(ng-class="{'rx-error': errors.first_name}")
                    .rx-form-label.mb-10 First Name {{errors.first_name ? ' / ' + errors.first_name : ''}}
                    input.rx-form-control(ng-model="form.first_name" placeholder="First Name")
            .col-sm-6
                .form-group(ng-class="{'rx-error': errors.last_name}")
                    .rx-form-label.mb-10 Last Name {{errors.first_name ? ' / ' + errors.first_name : ''}}
                    input.rx-form-control(ng-model="form.last_name" placeholder="Last Name")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.company}")
                    .rx-form-label.mb-10 Company Name
                    input.rx-form-control(ng-model="form.company" placeholder="Company Name")

        .row
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.email}")
                    .rx-form-label.mb-10 Email
                    input.rx-form-control(ng-model="form.email" placeholder="Email")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.skype}")
                    .rx-form-label.mb-10 Skype
                    input.rx-form-control(ng-model="form.skype" placeholder="Skype")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.phone}")
                    .rx-form-label.mb-10 Telephone
                    input.rx-form-control(ng-model="form.phone" placeholder="Telephone")
        .row
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.type}")
                    .rx-form-label.mb-10 Client type
                    input.rx-form-control(ng-model="form.type" placeholder="Client type")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.country}")
                    .rx-form-label.mb-10 Country
                    input.rx-form-control(ng-model="form.country" placeholder="Country")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.city}")
                    .rx-form-label.mb-10 City
                    input.rx-form-control(ng-model="form.city" placeholder="City")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.description}")
                    .rx-form-label.mb-10 Description
                    textarea.rx-form-control(ng-model="form.description" placeholder="Description")

        .row
            .col-sm-3.col-sm-offset-6
                .form-group
                    button.btn.btn-dark-gray.btn-block(ng-click="cancel()") Cancel
            .col-sm-3
                .form-group
                    button.btn.btn-primary.btn-block(ng-click="save(form)") Save