div.wrapper.wrapper-gray(ng-controller="ClientsController")
    .modal-parent

    include ../templates/nav-bar
    .sub-header
        .container.pt-30
            ul.hc-breadcrumbs
                li
                    a(ng-href="/") Home
                li
                    | Clients



    .container
        .row
            .col-sm-3
            .col-sm-2.col-sm-offset-7
                .form-group
                    button.btn.btn-block.btn-success(ng-click="create()")
                        i.icon.ion-plus-round.mr-15
                        span Add client
        .ms-panel.pb-0.ms-panel-gray.col-xs-hide.col-md-show
            .row
                .col-md-8.col-lg-9
                    .row
                        .col-xs-2.text-nowrap
                            checkbox.inline-block.media-top(ng-init="checkedAll = false" ng-checkbox-status="checkedAll" ng-click="selectAll(checkedAll)")
                            span.inline-block.media-top.ml-15 Client
                        .col-xs-2.text-nowrap Company
                        .col-xs-3.text-nowrap Email
                        .col-xs-2.text-nowrap Skype
                        .col-xs-3.text-nowrap Telephone
                .col-md-4.col-lg-3
                    .form-group.text-nowrap Actions

        .ms-panel.pb-0.ms-panel-default(ng-repeat="model in models.data")
            .row
                .col-md-8.col-lg-9
                    .row
                        .col-xs-2.pt-5.text-nowrap
                            .form-group
                                checkbox.inline-block.media-top(ng-init="model.checked = false" ng-checkbox-status="model.checked")
                                span.inline-block.media-top.ml-15 {{model.first_name}} {{model.last_name}}
                        .col-xs-2.pt-5.text-nowrap
                            .form-group {{model.company}}
                        .col-xs-3.pt-5.text-nowrap
                            .form-group
                                span(ng-if="model.email") {{model.email}}
                                em.color-gray(ng-if="!model.email") Empty
                        .col-xs-2.pt-5.text-nowrap
                            .form-group
                                span(ng-if="model.skype") {{model.skype}}
                                em.color-gray(ng-if="!model.skype") Empty
                        .col-xs-3.pt-5.text-nowrap
                            .form-group
                                span(ng-if="model.phone") {{model.phone}}
                                em.color-gray(ng-if="!model.phone") Empty

                .col-md-4.col-lg-3
                    .row
                        .col-xs-6
                            .form-group
                                button.btn.btn-primary.pr-10.pl-10.btn-block(ng-click="update(model)")
                                    i.ion.ion-edit.font-size-20
                        .col-xs-6
                            .form-group.text-right
                                button.btn.btn-dark-gray.pr-10.pl-10.btn-block(ng-click="delete(model)")
                                    i.ion.ion-trash-b.font-size-20



        ul.pagination-container(
            uib-pagination
            total-items="models.total"
            items-per-page="filter.size"
            ng-model="filter.page"
            max-size="5"
            ng-click="index(true)"
            boundary-links="true"
            force-ellipses="true"
            previous-text="‹"
            next-text="›"
            first-text="«"
            last-text="»"
        )