.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 {{title}}
    .hr-modal-body.pl-20.pr-20.pt-20.pb-20
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.title}")
                    .rx-form-label.mb-10 Event Title
                    input.rx-form-control(ng-model="form.title" placeholder="Event title")
        .row
            .col-sm-6
                .form-group(ng-class="{'rx-error': errors.start}")
                    .rx-form-label.mb-10 Start Date
                    .btn-group.btn-block(uib-dropdown is-open="false")
                        input.rx-form-control(data-toggle="dropdown" type="text" data-date-time-input="YYYY-MM-DD HH:mm A" ng-model="form.start")
                        ul.dropdown-menu(uib-dropdown-menu)
                            datetimepicker(
                                data-ng-model="form.start"
                                data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                                data-on-set-time="startDateOnSetTime()"
                                data-before-render="startDateBeforeRender($dates)"
                            )

            .col-sm-6(ng-if="!form.allDay")
                .form-group(ng-class="{'rx-error': errors.end}")
                    .rx-form-label.mb-10 End Date
                    .btn-group.btn-block(uib-dropdown is-open="false")
                        input.rx-form-control(data-toggle="dropdown" type="text" data-date-time-input="YYYY-MM-DD HH:mm A" ng-model="form.end")
                        ul.dropdown-menu(uib-dropdown-menu)
                            datetimepicker(
                                data-ng-model="form.end"
                                data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                                data-on-set-time="endDateOnSetTime()"
                                data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"
                            )
        .row
            .col-sm-6
                .form-group(ng-class="{'rx-error': errors.client}")
                    checkbox(ng-checkbox-status="form.allDay" ng-model="form.allDay")
                    span.rx-form-label.ml-15 All Day
            //.col-sm-6
            //    .form-group(ng-class="{'rx-error': errors.client}")
            //        checkbox(ng-init="IsRecurring = false" ng-checkbox-status="IsRecurring")
            //        span.rx-form-label.ml-15 Repeated Event
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors['calendar.id']}")
                    .rx-form-label.mb-10 Calendar
                    dropdown(ng-model="form.calendar", item-class="'btn-gray'" items="calendars", item-placeholder="'Select calendar'")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.location}")
                    .rx-form-label.mb-10 Location
                    input.rx-form-control(ng-model="form.location" placeholder="Location")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.color}")
                    .rx-form-label.mb-10 Color
                    .colors-palette
                        .color-box(ng-repeat="color in colors" ng-click="form.color = color")
                            i.ion(ng-class="{'ion-android-checkbox-blank': color != form.color, 'ion-android-checkbox': color == form.color}" ng-style="{'color': color}")

        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.description}")
                    .rx-form-label.mb-10 Description
                    textarea.rx-form-control(ng-model="form.description" placeholder="Description")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.candidate}")
                    .rx-form-label.mb-10 Assign candidates
                    tags-input.rx-form-control.candidates-tag-input(ng-model="form.profiles" add-from-autocomplete-only="true" template="tags-template" display-property="fullName" placeholder="Assign candidates" min-length="1" min-tags="1" max-tags="10" add-on-enter="true" add-on-space="false" add-on-comma="false" replace-spaces-with-dashes="false")
                        auto-complete(source="loadTags($query)", min-length="2", max-results-to-show="32", template="autocomplete-template")
        .row
            .col-sm-3
                .form-group
                    button.btn.btn-danger.btn-block(ng-click="delete(form)") Delete
            .col-sm-3.col-sm-offset-3
                .form-group
                    button.btn.btn-dark-gray.btn-block(ng-click="cancel()") Cancel
            .col-sm-3
                .form-group
                    button.btn.btn-primary.btn-block(ng-click="save(form)") Save
        script#autocomplete-template(type='text/ng-template')
            .autocomplete-template {{data.text}}
        script#tags-template(type='text/ng-template')
            .calendar-tag
                .calendar-tag-left
                    .calendar-tag-ava(ng-style="{'background-image': 'url(' + data.profilePhoto + ')'}")
                        .calendar-tag-close.cursor-pointer(ng-click="$removeTag()")
                            i.ion.ion-close
                .calendar-tag-right
                    .calendar-tag-text
                        a(ng-href="/profile/{{data.profile}}" target="_blank") {{data.fullName}}

