.calendar-container {

	
	@media all and (min-width: $screen-md-min) {
		display: flex;
		flex-direction: row;
	}
	
	.calendar-tools {
		padding: 0 15px;
		
		@media all and (min-width: $screen-md-min) {
			width: 400px;
		}
	}
	
	.calendar-calendar {
		padding: 0 15px;
		background: #fff;
		
		@media all and (min-width: $screen-md-min) {
			width: calc(100% - 400px);
		}
	}
}