.calendar-tag {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	align-items: flex-start;
	
	.calendar-tag-left {
		width: 50px;
		
		.calendar-tag-ava {
			height: 50px;
			width: 50px;
			background-position: center;
			background-size: cover;
			border-radius: $border-radius;
			position: relative;
			
			&:hover {
				.calendar-tag-close {
					display: block;
				}
			}
		}
	}
	
	.calendar-tag-right {
		text-align: left;
		margin-left: 10px;
		
		
	}
	
	
}

.calendar-tag-close {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.23);
	border-radius: 5px;
	display: none;
	
	font-size: 20px;
	line-height: 50px;
}

.candidates-tag-input {
	//padding: 5px;
	
	.tags .tag-list {
		//margin: 0 -5px;
	}
	
	.tags ul.tag-list li {
		padding: 10px;
		margin: 5px;
		
		
	}
}