div.wrapper(ng-controller="EditTeamController")
    .modal-parent
    include ../templates/nav-bar
    .sub-header
        .container.pt-30
            ul.hc-breadcrumbs
                li
                    a(ng-href="/teams") Teams
                li
                    | Edit
    .login-wrapper
        include form
