form.login-center(ng-submit='save(form)')
    .row
        .col-sm-12.pt-40
            .form-group(ng-class="{'rx-error': errors.title}")
                .rx-form-label.mb-10 Team Title
                input.rx-form-control(autocomplete='off' placeholder='Name' type='text' ng-model='form.title')
    .row
        .col-sm-12
            .form-group(ng-class="{'rx-error': errors.slug}")
                .rx-form-label.mb-10 Team Slug
                input.rx-form-control(autocomplete='off' placeholder='Slug' type='text' ng-model='form.slug')

    .row
        .col-sm-12
            .form-group(ng-class="{'rx-error': errors.employees}")
                .rx-form-label.mb-10 How big is your company
                select.rx-form-control(ng-model="form.employees" ng-options="option for option in employees")
                    option(value="" selected) Select Option
    .row
        .col-sm-12
            .form-group
                button.btn.btn-primary.btn-block(type="submit") Save
    .row
        .col-sm-12.text-center.mb-40
            .form-group
                a(ng-href="/teams") My teams