.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 {{title}}
    .hr-modal-body.pl-20.pr-20.pt-20.pb-20
        .row
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.first_name}")
                    .rx-form-label.mb-10 First Name
                    input.rx-form-control(ng-model="form.first_name" placeholder="First Name")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.last_name}")
                    .rx-form-label.mb-10 Last Name
                    input.rx-form-control(ng-model="form.last_name" placeholder="Last Name")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.responsible}")
                    .rx-form-label.mb-10 Responsible
                    input.rx-form-control(ng-model="form.responsible" placeholder="Responsible")
        .row
            .col-sm-8
                .form-group(ng-class="{'rx-error': errors.label}")
                    .rx-form-label.mb-10 Headline
                    input.rx-form-control(ng-model="form.label" placeholder="Headline")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.picture}")
                    .rx-form-label.mb-10 Picture
                    input.rx-form-control(ng-model="form.picture" placeholder="Picture")
        .row
            .col-sm-3
                .form-group(ng-class="{'rx-error': errors.email}")
                    .rx-form-label.mb-10 Email
                    input.rx-form-control(ng-model="form.email" placeholder="Email")
            .col-sm-3
                .form-group(ng-class="{'rx-error': errors.phone}")
                    .rx-form-label.mb-10 Phone
                    input.rx-form-control(ng-model="form.phone" placeholder="Phone")
            .col-sm-3
                .form-group(ng-class="{'rx-error': errors.location}")
                    .rx-form-label.mb-10 Location
                    input.rx-form-control(ng-model="form.location" placeholder="Location")
            .col-sm-3
                .form-group(ng-class="{'rx-error': errors.birthday}")
                    .rx-form-label.mb-10 Birthday
                    input.rx-form-control(ng-model="form.birthday" placeholder="Birthday")
        .row
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.gender}")
                    .rx-form-label.mb-10 Gender
                    input.rx-form-control(ng-model="form.gender" placeholder="Gender")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.desired_salary}")
                    .rx-form-label.mb-10 Desired salary
                    input.rx-form-control(ng-model="form.desired_salary" placeholder="Desired salary")
            .col-sm-4
                .form-group(ng-class="{'rx-error': errors.currency}")
                    .rx-form-label.mb-10 Currency
                    input.rx-form-control(ng-model="form.currency" placeholder="Currency")
        .row
            .col-sm-3
                .form-group(ng-class="{'rx-error': errors.desired_position}")
                    .rx-form-label.mb-10 Desired Dosition
                    input.rx-form-control(ng-model="form.desired_position" placeholder="Desired Dosition")
            .col-sm-3
                .form-group(ng-class="{'rx-error': errors.experience}")
                    .rx-form-label.mb-10 Experience
                    input.rx-form-control(ng-model="form.experience" placeholder="Experience")
            .col-sm-3
                .form-group(ng-class="{'rx-error': errors.status}")
                    .rx-form-label.mb-10 Status
                    input.rx-form-control(ng-model="form.status" placeholder="Status")
            .col-sm-3
                .form-group(ng-class="{'rx-error': errors.source}")
                    .rx-form-label.mb-10 Source
                    input.rx-form-control(ng-model="form.source" placeholder="Source")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.summary}")
                    .rx-form-label.mb-10 Summary
                    textarea.rx-form-control(ng-model="form.summary" placeholder="Summary")
        .row(ng-repeat="(key, item) in form.awards")
            .col-sm-12
                hr
                .row
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['awards.' + key + '.title']}")
                            .rx-form-label.mb-10 Title
                            input.rx-form-control(ng-model="item.title" placeholder="Title")
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['awards.' + key + '.date']}")
                            .rx-form-label.mb-10 Date
                            input.rx-form-control(ng-model="item.date" placeholder="Date")
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['awards.' + key + '.awarder']}")
                            .rx-form-label.mb-10 Awarder
                            input.rx-form-control(ng-model="item.awarder" placeholder="Awarder")
                    .col-sm-2
                        .form-group
                            .rx-form-label.mb-10 Delete
                            button.btn.btn-danger.btn-block(ng-click="dropRow(form.awards, key)")
                                i.ion.ion-close
                .row
                    .col-sm-12
                        .form-group(ng-class="{'rx-error': errors['awards.' + key + '.summary']}")
                            .rx-form-label.mb-10 Summary
                            textarea.rx-form-control(ng-model="item.summary" placeholder="Summary")
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-gray.btn-block(ng-click="add(form.awards)")
                        i.ion.ion-trophy.mr-15.font-size-25
                        span Add Awards
        .row(ng-repeat="(key, item) in form.educations")
            .col-sm-12
                hr
                .row
                    .col-sm-6
                        .form-group(ng-class="{'rx-error': errors['educations.' + key + '.institution']}")
                            .rx-form-label.mb-10 Institution
                            input.rx-form-control(ng-model="item.institution" placeholder="Institution")
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['educations.' + key + '.area']}")
                            .rx-form-label.mb-10 Area
                            input.rx-form-control(ng-model="item.area" placeholder="Area")
                    .col-sm-2
                        .form-group
                            .rx-form-label.mb-10 Delete
                            button.btn.btn-danger.btn-block(ng-click="dropRow(form.educations, key)")
                                i.ion.ion-close
                .row
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['educations.' + key + '.study_type']}")
                            .rx-form-label.mb-10 Study Type
                            input.rx-form-control(ng-model="award.study_type" placeholder="Study Type")
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['educations.' + key + '.start_date']}")
                            .rx-form-label.mb-10 Start Date
                            input.rx-form-control(ng-model="award.start_date" placeholder="Start Date")
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['educations.' + key + '.end_date']}")
                            .rx-form-label.mb-10 End Date
                            input.rx-form-control(ng-model="award.end_date" placeholder="End Date")
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-gray.btn-block(ng-click="add(form.educations)")
                        i.ion.ion-university.mr-15.font-size-25
                        span Add Education
        .row(ng-repeat="(key, item) in form.languages")
            .col-sm-12
                hr
                .row
                    .col-sm-6
                        .form-group(ng-class="{'rx-error': errors['languages.' + key + '.title']}")
                            .rx-form-label.mb-10 Title
                            input.rx-form-control(ng-model="item.title" placeholder="Title")
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['languages.' + key + '.level']}")
                            .rx-form-label.mb-10 Level
                            input.rx-form-control(ng-model="item.level" placeholder="Level")
                    .col-sm-2
                        .form-group
                            .rx-form-label.mb-10 Delete
                            button.btn.btn-danger.btn-block(ng-click="dropRow(form.languages, key)")
                                i.ion.ion-close
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-gray.btn-block(ng-click="add(form.languages)")
                        i.ion.ion-earth.mr-15.font-size-25
                        span Add languages
        .row(ng-repeat="(key, item) in form.profiles")
            .col-sm-12
                hr
                .row
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['profiles.' + key + '.network']}")
                            .rx-form-label.mb-10 Network
                            input.rx-form-control(ng-model="item.network" placeholder="Network")
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['profiles.' + key + '.username']}")
                            .rx-form-label.mb-10 Username
                            input.rx-form-control(ng-model="item.username" placeholder="Username")
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['profiles.' + key + '.url']}")
                            .rx-form-label.mb-10 Url
                            input.rx-form-control(ng-model="item.url" placeholder="Url")
                    .col-sm-2
                        .form-group
                            .rx-form-label.mb-10 Delete
                            button.btn.btn-danger.btn-block(ng-click="dropRow(form.profiles, key)")
                                i.ion.ion-close
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-gray.btn-block(ng-click="add(form.profiles)")
                        i.ion.ion-link.mr-15.font-size-25
                        span Add Profiles
        .row(ng-repeat="(key, item) in form.references")
            .col-sm-12
                hr
                .row
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['references.' + key + '.full_name']}")
                            .rx-form-label.mb-10 Full Name
                            input.rx-form-control(ng-model="item.full_name" placeholder="Full Name")
                    .col-sm-6
                        .form-group(ng-class="{'rx-error': errors['references.' + key + '.reference']}")
                            .rx-form-label.mb-10 Reference
                            textarea.rx-form-control(ng-model="item.reference" placeholder="Reference")
                    .col-sm-2
                        .form-group
                            .rx-form-label.mb-10 Delete
                            button.btn.btn-danger.btn-block(ng-click="dropRow(form.references, key)")
                                i.ion.ion-close
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-gray.btn-block(ng-click="add(form.references)")
                        i.ion.ion-chatbox-working.mr-15.font-size-25
                        span Add References
        .row(ng-repeat="(key, item) in form.skills")
            .col-sm-12
                hr
                .row
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['skills.' + key + '.title']}")
                            .rx-form-label.mb-10 Title
                            input.rx-form-control(ng-model="item.title" placeholder="Title")
                    .col-sm-6
                        .form-group(ng-class="{'rx-error': errors['skills.' + key + '.level']}")
                            .rx-form-label.mb-10 Level
                            input.rx-form-control(ng-model="item.level" placeholder="Level")
                    .col-sm-2
                        .form-group
                            .rx-form-label.mb-10 Delete
                            button.btn.btn-danger.btn-block(ng-click="dropRow(form.skills, key)")
                                i.ion.ion-close
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-gray.btn-block(ng-click="add(form.skills)")
                        i.ion.ion-android-hand.mr-15.font-size-25
                        span Add Skills
        .row(ng-repeat="(key, item) in form.volunteers")
            .col-sm-12
                hr
                .row
                    .col-sm-5
                        .form-group(ng-class="{'rx-error': errors['volunteers.' + key + '.organization']}")
                            .rx-form-label.mb-10 Organization
                            input.rx-form-control(ng-model="item.organization" placeholder="Organization")
                    .col-sm-5
                        .form-group(ng-class="{'rx-error': errors['volunteers.' + key + '.position']}")
                            .rx-form-label.mb-10 Position
                            input.rx-form-control(ng-model="item.position" placeholder="Position")
                    .col-sm-2
                        .form-group
                            .rx-form-label.mb-10 Delete
                            button.btn.btn-danger.btn-block(ng-click="dropRow(form.volunteers, key)")
                                i.ion.ion-close
                .row
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['volunteers.' + key + '.start_date']}")
                            .rx-form-label.mb-10 Start Date
                            input.rx-form-control(ng-model="item.start_date" placeholder="Start Date")
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['volunteers.' + key + '.end_date']}")
                            .rx-form-label.mb-10 End Date
                            input.rx-form-control(ng-model="item.end_date" placeholder="End Date")
                    .col-sm-6
                        .form-group(ng-class="{'rx-error': errors['volunteers.' + key + '.summary']}")
                            .rx-form-label.mb-10 Summary
                            input.rx-form-control(ng-model="item.summary" placeholder="Summary")
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-gray.btn-block(ng-click="add(form.volunteers)")
                        i.ion.ion-ios-people.mr-15.font-size-25
                        span Add Volunteers
        .row(ng-repeat="(key, item) in form.works")
            .col-sm-12
                hr
                .row
                    .col-sm-4
                        .form-group(ng-class="{'rx-error': errors['works.' + key + '.company']}")
                            .rx-form-label.mb-10 Company
                            input.rx-form-control(ng-model="item.company" placeholder="Company")
                    .col-sm-6
                        .form-group(ng-class="{'rx-error': errors['works.' + key + '.position']}")
                            .rx-form-label.mb-10 Position
                            input.rx-form-control(ng-model="item.position" placeholder="Position")
                    .col-sm-2
                        .form-group
                            .rx-form-label.mb-10 Delete
                            button.btn.btn-danger.btn-block(ng-click="dropRow(form.works, key)")
                                i.ion.ion-close
                .row
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['works.' + key + '.start_date']}")
                            .rx-form-label.mb-10 Start Date
                            input.rx-form-control(ng-model="item.start_date" placeholder="Start Date")
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['works.' + key + '.end_date']}")
                            .rx-form-label.mb-10 End Date
                            input.rx-form-control(ng-model="item.end_date" placeholder="End Date")
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['works.' + key + '.location']}")
                            .rx-form-label.mb-10 Location
                            input.rx-form-control(ng-model="item.location" placeholder="Location")
                    .col-sm-3
                        .form-group(ng-class="{'rx-error': errors['works.' + key + '.summary']}")
                            .rx-form-label.mb-10 Summary
                            textarea.rx-form-control(ng-model="item.summary" placeholder="Summary")
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-gray.btn-block(ng-click="add(form.works)")
                        i.ion.ion-code-working.mr-15.font-size-25
                        span Add Works

        .row
            .col-sm-3.col-sm-offset-6
                .form-group
                    button.btn.btn-dark-gray.btn-block(ng-click="cancel()") Cancel
            .col-sm-3
                .form-group
                    button.btn.btn-primary.btn-block(ng-click="save(form)") Save