.login-wrapper(ng-controller="TeamsController")
    form.login-center
        .row
            .col-sm-12.pt-50
                .form-group
                    a.logo-block-login(href="#")

        .row
            .col-sm-12
                .form-group(ng-repeat="account in user.companies" ng-click="login(account)")
                    button.btn.btn-primary.btn-block {{account.title}}


        .row
            .col-sm-12.text-center
                .form-group
                    a(ng-href="/register") Register
        .row
            .col-sm-12.text-center.mb-40
                .form-group
                    a(ng-href="/forgot") Forgot password?