.login-wrapper(ng-controller="ActivateController")
    .conainer.text-center
        .row
            .col-sm-12
                .form-group.mb-50
                    h1 Activation
        .row(ng-if="messages.length == 0 && errors.length == 0")
            .col-sm-12.mb-40
                i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
        .row(ng-if="messages.length > 0")
            .col-sm-12
                .form-group.mb-50(ng-repeat="message in messages")
                    h3.text-success {{message}}
        .row(ng-if="errors.length > 0")
            .col-sm-12
                .form-group.mb-50(ng-repeat="message in errors")
                    h3.text-danger {{message}}

        .row
            .col-sm-12
                .form-group
                    a.btn.btn-primary.btn-block(href="/login") Back to Log in page