include templates/nav-bar

div(ng-controller="SearchController")
    .wrapper.wrapper-gray
        .sub-header(ng-if="getChecked().length == 0")
            .container.pt-20
                include templates/search-box
        .sub-header(ng-if="getChecked().length > 0")
            .container.pt-20
                include vacancy/nav-buttons
        .container
            .row
                .col-md-4
                    include templates/sidebar-filter
                .col-md-8

                    include search/install-plugin
                    include search/vacancy-actions
                    include search/search-actions
                    include  templates/profiles