.login-wrapper(ng-controller="ConfirmController")

    form.login-center(name="confirmCodeForm" ng-submit="confirmCode(form)" novalidate)
        .row
            .col-sm-12.pt-50
                a.logo-block-login(href="#")
        .row
            .col-sm-12
                .form-group We’ve sent a nine-digit confirmation code to {{form.email}} It will expire shortly, so enter your code soon.
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.code}")
                    .rx-form-label.mb-10 Code
                    input.rx-form-control(placeholder="Code" name="code" ng-model="form.code" ng-minlength="11" ng-maxlength="11" required)
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-primary.btn-block(ng-disabled="confirmCodeForm.code.$invalid") Confirm
        hr
        .row
            .col-sm-12.text-center.mb-40
                .form-group
                    a(href="/email") Back
