.hr-modal-container
    .hr-modal-header
        i.ion.ion-close-round(ng-click="cancel()")
        span.ml-20 {{title}}
    .hr-modal-body.pl-20.pr-20.pt-20.pb-20
        .row
            .col-sm-12
                .form-group.mb-30
                    p {{text}}
        .row
            .col-sm-3.col-sm-offset-6
                .form-group
                    button.btn.btn-dark-gray.btn-block(ng-click="cancel()") Cancel
            .col-sm-3
                .form-group
                    button.btn.btn-danger.btn-block(ng-click="ok(model)") Confirm