div.wrapper(ng-controller="DashboardController")
    .modal-parent

    include templates/nav-bar
    .sub-header(ng-if="getChecked().length == 0")
        .container.pt-30
            ul.hc-breadcrumbs
                li
                    a(ng-href="/") Home
                li
                    | Dashboard
    .calendar-container
        .calendar-tools
            .dashboard-calendar
                .container-fluid.pt-30.pb-30
                    .row
                        .col-xs-12
                            .form-group.calendar-label Appearance
                            .form-group
                                .btn-group.btn-block
                                    .btn.btn-gray.col-xs-4(ng-repeat="view in calendarViews" ng-class="{'active': view.name == calendarView}" ng-click="changeView(view.name, '_calendar')") {{view.title}}
                    .row
                        .col-xs-12
                            .form-group.calendar-label Add new Event
                            .form-group
                                button.btn.btn-gray.btn-block(ng-click="addEvent()") New Event
                    .row
                        .col-xs-12
                            .form-group.calendar-label Add new Event
                            .form-group
                                button.btn.btn-gray.btn-block(ng-click="addCalendar()") New calendar
                    .row(ng-if="calendars.length" ng-repeat="c in calendars")
                        .col-xs-2
                            .form-group
                                checkbox(ng-checkbox-status="c.active" ng-model="c.active" ng-click="changeCalendarStatus(c)")
                                //dropdown(ng-model="calendar", item-class="'btn-gray'" items="calendars", ng-change="changeCalendar(calendar)")
                        .col-xs-4
                            .form-group {{c.title}}
                        .col-xs-3
                            .form-group
                                button.btn.btn-sm.btn-gray.btn-block(ng-click="updateCalendar(c)")
                                    i.ion.ion-edit

        .calendar-calendar.pt-20.pb-20

            div(ui-calendar="uiConfig.calendar" calendar="_calendar" class="span8 calendar" ng-model="eventSources")