.login-wrapper(ng-controller="EmailController")

    form.login-center(name="confirmEmailForm" ng-submit="confirmEmail(form)" novalidate)
        .row
            .col-sm-12.pt-50
                a.logo-block-login(href="#")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.email}")
                    .rx-form-label.mb-10 Email
                    input.rx-form-control(placeholder="Email" name="email" ng-model="form.email" type="email" required)
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-primary.btn-block(ng-disabled="confirmEmailForm.email.$invalid") Confirm
        hr
        .row
            .col-sm-12.text-center.mb-40
                .form-group
                    a(href="/login") Log in
