.login-wrapper(ng-controller="ForgotController")
    form.login-center(ng-submit='forgot(form)')
        .row
            .col-sm-12.pt-50
                .form-group
                    a.logo-block-login(href="#")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.password}")
                    .rx-form-label.mb-10 Type your email
                    input.rx-form-control(autocomplete='off' placeholder='Email' type='email' ng-model='form.email')
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-primary.btn-block(type='submit') Send me reset link

        .row
            .col-sm-12.text-center
                .form-group
                    a(ng-href="/register") Register
        .row
            .col-sm-12.text-center
                .form-group
                    a(ng-href="/login") Log in