<!DOCTYPE html>
html(ng-app='app', ng-controller='AppController')
    head
        meta(charset='utf-8')
        title HireCloud
        - var version = +new Date;
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='/styles/vendor.css?v=#{version}')
        link(rel='stylesheet', href='/styles/app.css?v=#{version}')
        base(href='/')
    body.bg-color-light-gray2
        toaster-container
        .loader-container
        div.view-container(ng-view)
        include templates/footer
        script(src='/scripts/vendor.js?v=#{version}')
        script(src='/scripts/app.js?v=#{version}')