.login-wrapper(ng-controller="LoginController")
    form.login-center(ng-submit='login(form)')
        .row
            .col-sm-12.pt-50
                .form-group
                    a.logo-block-login(href="#")
        //.row
        //    .col-sm-12
        //        .form-group
        //            button.btn.btn-linkedin.btn-block(type="button" ng-click="authenticate('linkedin')")
        //                .fa.fa-linkedin.mr-15.font-size-20
        //                span Sign in with LinkedIn
        //                sup ®
        //.row
        //    .col-sm-12
        //        .form-group
        //            button.btn.btn-google-plus.btn-block(ng-click="authenticate('google')")
        //                .fa.fa-google-plus.mr-15.font-size-20
        //                span Log in with Google
        //                sup ®
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.email}")
                    .rx-form-label.mb-10 Email
                    input.rx-form-control(autocomplete='off' placeholder='Email' type='text' ng-model='form.email')
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.password}")
                    .rx-form-label.mb-10 Password
                    input.rx-form-control(autocomplete='off' placeholder='Password' type='password' ng-model='form.password')
        //.row
        //    .col-sm-12
        //        .form-group(ng-class="{'rx-error': errors.capcha_confirmation}")
        //            .rx-form-label.mb-10 Just little security check
        //            div(vc-recaptcha key="'6LdYeBYUAAAAAOQcIdX8Wj-LJzJrRw-iBAqcsUtt'" ng-model="form.capcha_confirmation")
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-primary.btn-block(type='submit') Log in

        .row
            .col-sm-12.text-center
                .form-group
                    a(ng-href="/email?redirect=/settings") Register
        .row
            .col-sm-12.text-center.mb-40
                .form-group
                    a(ng-href="/email?redirect=/password") Forgot password?