.login-wrapper(ng-controller="PasswordController")
    form.login-center(ng-submit='submit(form)')
        .row
            .col-sm-12.pt-50
                .form-group
                    a.logo-block-login(href="#")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.email}")
                    .rx-form-label.mb-10 Email
                    input.rx-form-control(autocomplete='off' placeholder='Email' type='email' ng-model='form.email' disabled)
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.password}")
                    .rx-form-label.mb-10 Type your new password
                    input.rx-form-control(autocomplete='off' placeholder='Password' type='password' ng-model='form.password')
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-primary.btn-block(type="submit") Change password

        .row
            .col-sm-12.text-center
                .form-group
                    a(ng-href="/register") Register
        .row
            .col-sm-12.text-center
                .form-group
                    a(ng-href="/login") Log in