div.wrapper.wrapper-gray(ng-controller="ProfileController")
    .modal-parent

    include templates/nav-bar
    .sub-header
        .container.pt-30.pb-30
            ul.hc-breadcrumbs
                li
                    a(ng-href="/") Home
                li
                    a(ng-href="/search") Search
                li
                    | {{profile.fullName}}

    .container
        .row.mb-20.pt-15.clearfix
            .profile-left
                .profile-actions
                    .mb-30
                        .profile-photo.mb-30(bg-image="{{profile.profilePhoto}}")
                    .mb-10
                        a.btn.btn-primary.btn-block(ng-click="addToCalendar()") Add to calendar
                    .mb-10
                        button.btn.btn-primary.btn-block(ng-click="resume(profile._id)") Download resume
                    .mb-10
                        dropdown(ng-model="addToVacancyId", item-class="'btn-success'" items="vacancies", item-placeholder="'Add to my vacancies'", ng-change="addToVacancy(addToVacancyId)" property-select="'id'")
            .profile-right
                .content-container
                    .row
                        .col-xs-12
                            .pf-layout-1.mb-10
                                | {{profile.fullName}}
                                span.person-age(ng-if="profile.age") ({{profile.age}} years old)
                            .pf-layout-2(ng-if="profile.experience.length") Current: {{profile.experience[0].title}} / {{profile.experience[0].subtitle}}
                            .pf-layout-3(ng-if="profile.education.length") {{profile.education[0].title}}
                            .pf-layout-3(ng-if="profile.yearsExperience") Experience: {{profile.yearsExperience}} {{profile.yearsExperience == 1 ? 'year': 'years'}}
                    hr
                    .row
                        .col-xs-12
                            .pf-layout-1.mb-10 PERSONAL DETAILS
                            .pf-layout-3 {{profile.locationName}}
                            .pf-layout-3(ng-repeat="emailAdd in profile.emailAddress")
                                span.pf-label.mr-5 Email:
                                | {{emailAdd}}
                            .pf-layout-3(ng-repeat="number in profile.phoneNumbers")
                                span.pf-label.mr-5 {{number.type}}:
                                | {{number.number}}
                            .pf-layout-3(ng-repeat="im in profile.ims")
                                span.pf-label.mr-5 {{im.provider}}:
                                | {{im.id}}
                            .profile-social-networks.mt-20
                                a.profile-social-network(ng-repeat="link in profile.websites track by $index" href="{{link}}" target="_blank")
                                    i.fa(ng-class="getClass(link)")
                    .row(ng-if="profile.skills.length")
                        .col-sm-12
                            hr
                            .form-group
                                .pf-layout-1.mb-10 SKILLS
                                .profile-skills
                                    .profile-skill(ng-repeat="skill in profile.skills")
                                        .profile-skill-value {{skill.count}}
                                        .profile-skill-title {{skill.title}}
                    .row(ng-if="profile.experience.length")
                        .col-sm-12
                            hr
                            .form-group
                                .pf-layout-1.mb-10 EXPERIENCE
                                .mb-25(ng-repeat="exp in profile.experience")
                                    .pf-layout-2 {{exp.title}}
                                    .pf-layout-3.mb-10 {{exp.subtitle}}
                                    .pf-layout-3.mb-10 {{exp.description}}
                                    .pf-layout-4 {{formatDate(exp.timePeriod)}}
                    .row(ng-if="profile.education.length")
                        .col-sm-12
                            hr
                            .form-group
                                .pf-layout-1.mb-10 EDUCATION
                                .mb-25(ng-repeat="edu in profile.education")
                                    .pf-layout-2 {{edu.title}}
                                    .pf-layout-3(ng-if="edu.fieldOfStudy") {{edu.fieldOfStudy}}
                                    .pf-layout-3.mb-10(ng-if="edu.grade") {{edu.grade}}
                                    .pf-layout-4(ng-if="edu.timePeriod") {{formatDate(edu.timePeriod)}}
                    .row(ng-if="profile.recommendation.length")
                        .col-sm-12
                            hr
                            .form-group
                                .pf-layout-1.mb-10 RECOMMENDATIONS
                                .mb-25(ng-repeat="exp in profile.recommendation")
                                    a.pf-layout-2(ng-href="https://linkedin.com/in/{{exp.publicIdentifier}}") {{exp.firstName}} {{exp.lastName}}
                                    .pf-layout-3.mb-10 {{exp.occupation}}
                                    .pf-layout-3.mb-10 {{exp.recommendationText}}
                    .row(ng-if="profile.certification.length")
                        .col-sm-12
                            hr
                            .form-group
                                .pf-layout-1.mb-10 CERTIFICATIONS
                                .mb-25(ng-repeat="exp in profile.certification")
                                    .pf-layout-2 {{exp.title}}
                                    .pf-layout-3(ng-if="exp.authority") {{exp.authority}}
                                    .pf-layout-4(ng-if="exp.timePeriod") {{formatDate(exp.timePeriod)}}
                                    .pf-layout-4(ng-if="exp.licenseNumber") License number: {{exp.licenseNumber}}
                    .row(ng-if="profile.language.length")
                        .col-sm-12
                            hr
                            .form-group
                                .pf-layout-1.mb-10 LANGUAGES
                                ul.pf-languages
                                    li.pf-language(ng-repeat="language in profile.language")
                                        div.pf-language-title {{language.title}}
                                        div.pf-language-proficiency {{language.proficiency}}
                    .row(ng-if="profile.vacancies.length")
                        .col-sm-12
                            hr
                            .form-group
                                .pf-layout-1.mb-10 VACANCIES
                                .mb-25(ng-repeat="exp in profile.vacancies")
                                    .pf-layout-2 {{exp.title}}
                                        i.ion.ion-close.cursor-pointer.pull-right(ng-click="removeFromVacancy(profile._id, exp)")
                                    .pf-layout-4(ng-if="exp.pivot.updated_at") Added to this vacancy {{exp.pivot.updated_at.date | timeAgo}}
                                    .pf-layout-4(ng-if="exp.status")
                                        b Status: {{exp.status}}
                                    .pf-layout-3(ng-if="exp.inside_information") {{exp.inside_information}}
                                    .pf-layout-3(ng-if="exp.description") {{exp.description}}
