.login-wrapper(ng-controller="RegisterController")
    form.login-center(name="registerForm" ng-submit="save(form)" novalidate)
        .row
            .col-sm-12.pt-50
                a.logo-block-login(href="#")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.email}")
                    .rx-form-label.mb-10 Email
                    input.rx-form-control(placeholder="Email" ng-model="form.email" disabled)
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.first_name}")
                    .rx-form-label.mb-10 First name
                    input.rx-form-control(placeholder="First name" ng-model="form.first_name")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.last_name}")
                    .rx-form-label.mb-10 Last name
                    input.rx-form-control(placeholder="Last name" ng-model="form.last_name")
        .row
            .col-sm-12
                .form-group(ng-class="{'rx-error': errors.password}")
                    .rx-form-label.mb-10 Password
                    input.rx-form-control(type="password" placeholder="Password" ng-model="form.password")
        .row
            .col-sm-12
                .form-group
                    button.btn.btn-primary.btn-block Register
        hr
        .row
            .col-sm-12.text-center.mb-40
                .form-group
                    a(href="/login") Log in
