div.wrapper.wrapper-gray(ng-controller="SettingsController")
    include templates/nav-bar
    .sub-header
        .container.pt-30
            ul.hc-breadcrumbs
                li
                    a(ng-href="/") Home
                li
                    | Settings
    .wrapper
        .content-settings.mt-100.pb-100
            .form-group(ng-class="{'rx-error': errors.first_name}")
                .row
                    .col-sm-3
                        .rx-form-label First name
                    .col-sm-9
                        input.rx-form-control(placeholder="First name" ng-model="user.first_name")
            .form-group(ng-class="{'rx-error': errors.last_name}")
                .row
                    .col-sm-3
                        .rx-form-label Last name
                    .col-sm-9
                        input.rx-form-control(placeholder="Last name" ng-model="user.last_name")
            hr.mt-30.mb-30
            .form-group(ng-class="{'rx-error': errors.email}")
                .row
                    .col-sm-3
                        .rx-form-label Email
                    div(ng-class="{'col-sm-5': user.active === 0, 'col-sm-9': user.active === 1}")
                        .hr-input-group.mb-30
                            input.rx-form-control(placeholder="Email" ng-model="user.email")
                            .confirmation-box(ng-show="user.active === 1")
                                i.text-success.fa.fa-check
                                span Confirmed
                            .confirmation-box(ng-show="user.active === 0")
                                i.text-danger.fa.fa-times
                                span Not confirmed
                    .col-sm-4(ng-if="user.active === 0")
                        .hr-input-group(ng-show="user.active === 0")
                            button.btn.btn-primary.btn-block(ng-click="resendActivationLink(user)") Send activation link again

            .form-group
                .row
                    .col-sm-4.col-sm-offset-8
                        button.btn.btn-success.btn-block(ng-click="updateUser(user)") Save