div.wrapper(ng-controller="TeamsController")
    .modal-parent
    include templates/nav-bar
    .sub-header
        .container.pt-30
            ul.hc-breadcrumbs
                li
                    a(ng-href="/teams") Teams
                li
                    | List
    .container.pt-50
        .row
            .col-sm-12
                .form-group
                    h1 Hello, {{user.first_name}}
        .row(ng-if="user.teams.length" ng-repeat="team in user.teams")
            .col-sm-3
                .form-group {{team.title}}
            .col-sm-3
                .form-group
                    a.btn.btn-gray.btn-block(ng-href="/candidates") Open
            .col-sm-3
                .form-group
                    button.btn.btn-primary.btn-block(ng-click="login(team)")
                        i(ng-if="logged(team.id)").ion.ion-checkmark-round.mr-15
                        span Login
            .col-sm-3
                .form-group
                    a.btn.btn-default.btn-block(ng-href="/teams/edit/{{team.id}}") Edit

        .row(ng-if="user.companies.length == 0")
            .col-sm-12
                .form-group
                    h1 Empty
        .row
            .col-sm-12
                .form-group
                    a.btn.btn-success.btn-block(ng-href="/teams/create") Create a New Team
        .row
            .col-sm-12.text-center.mb-40
                .form-group
                    a(ng-href="#" ng-click="logout()") Logout